<%#=begin
form:           change password
Developer:      Varun
Created:        09-024-2018
Purpose:        edit registration
Params:         email password password_confirmation current_password
Return:         hash
=end %>
<section class="banner directory-banner">
  <div class="banner-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner-banner-title">
          <h1>Profile Edit</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<% title 'Profile Edit'%>
<%= devise_error_messages! %>
<section class="content-main profile-page pt-zero">
  <div class="container">
     <!-- user profile start-->
     <div class="profile-blocks">
        <h3>Profile</h3>
         <%= form_for(resource, as: resource_name, url: update_profile_path, html: { method: :put, id: "user_profile_section"}) do |f|%>
        <div class="profile-blocks-cntnt">
           <div class="row">
              <div class="col-xs-6 col-md-6">
                 <div class="form-group">
                    <label>First Name</label>
                    <%= f.text_field :first_name, class: "form-control", placeholder: "Enter first name" %>
                 </div>
              </div>
              <div class="col-xs-6 col-md-6">
                 <div class="form-group">
                    <label>Last Name</label>
                    <%= f.text_field :last_name, class: "form-control",  placeholder: "Enter last name"  %>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-xs-12 col-md-6">
                 <div class="form-group">
                    <label>Email</label>
                    <%= f.email_field :email, class: "form-control",placeholder: 'Enter email'  %>
                 </div>
              </div>
              <div class="col-xs-12 col-md-6">
                 <div class="form-group">
                    <label>Phone</label>
                    <%= f.text_field :phone_number, class: "form-control", placeholder: 'Enter phone number'%>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-xs-6 col-md-6">
                 <div class="form-group">
                    <label>Zip Code</label>
                     <%= f.text_field :zip_code, class: "form-control", placeholder: 'Enter zip code'%>
                 </div>
              </div>
              <div class="col-xs-6 col-md-6">
                 <div class="form-group">
                    <label>Purpose</label>
                    <%= f.select :purpose,options_for_select(['Purchase','Refinance'],current_user.purpose), class: "form-control" %>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-xs-12 col-md-6">
                 <div class="form-group price-input-box">
                    <label>Home Price</label>
                    <div class="dollar-icn">$</div>
                    <%= f.text_field :home_price, class: "form-control", placeholder: 'Enter home price'%>
                 </div>
              </div>
              <div class="col-xs-12 col-md-6">
                 <div class="form-group price-input-box">
                    <label>Down Payment</label>
                    <div class="dollar-icn">$</div>
                    <%= f.text_field :down_payment,class: "form-control", placeholder: 'Enter down payment' %>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-xs-12 col-md-6">
                 <div class="form-group">
                    <label>Credit Score</label>
                    <%= f.select :credit_score, options_for_select(['700','750','750+'],current_user.credit_score.to_i.to_s) %>
                 </div>
              </div>
           </div>
           <%= f.hidden_field :id, value: current_user.id%>
           <div class="row">
              <div class="col-xs-12 col-md-12">
                 <div class="form-group text-center">
                    <%= f.submit "Save", class: "ornage-btn-dark-shadow"%>
                 </div>
              </div>
           </div>
        </div>

        <% end %>
     </div>
     <!-- user profile end-->
     <% if !current_user.social_login.present?%>
     <!-- change password start-->
     <div class="profile-blocks">
        <h3>Change Password</h3>
         <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, id: "user_password_section" }) do |f|%>

        <div class="profile-blocks-cntnt">
           <div class="row">
              <div class="col-xs-12 col-md-6">
                 <div class="form-group">
                    <label>Current Password</label>
                    <!-- <input class="form-control" type="password" placeholder=""> -->
                     <%= f.password_field :current_password, autocomplete: "off" %>
                 </div>
              </div>
              <div class="col-xs-12 col-md-6">
                 <div class="form-group">
                    <label>New Password</label>
                    <!-- <input class="form-control" type="password" placeholder=""> -->
                    <%= f.password_field :password, autocomplete: "off" , class: "form-control" %>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-xs-12 col-md-6">
                 <div class="form-group">
                    <label>Confirm New Password</label>
                    <!-- <input class="form-control" type="password" placeholder=""> -->
                    <%= f.password_field :password_confirmation, autocomplete: "off" %>
                 </div>
              </div>
           </div>
           <div class="row">
              <div class="col-xs-12 col-md-12">
                 <div class="form-group text-center">
                    <!-- <input type="submit" value="SAVE" class="ornage-btn-dark-shadow"> -->
                    <%= f.submit "Save", class: "ornage-btn-dark-shadow" %>
                 </div>
              </div>
           </div>
        </div>
        <%end%>
     </div>
     <!-- change password end-->
    <%end%>
     <!-- user price alert start-->
     <div class="profile-blocks">
        <h3>Email Alert</h3>
        <%= button_to "Send Mail" , pages_send_mail_path, method: :get, :class => "mail-btn"%>
         <%= form_for(resource, as: resource_name, url: update_profile_path, html: { method: :put }) do |f|%>
        <div class="profile-blocks-cntnt">
           <div class="row">
              <div class="col-xs-12 col-md-12">
                 <div class="form-group">
                    <p style="margin-bottom: 10px">Email me the latest, up to date pricing for my favorited or last mortage search.</p>
                    <label class="checkbox-custm-row">
                      Daily
                      <%= f.radio_button :price_alert,current_user.price_alert == 0 ? current_user.price_alert : 0 %> 
                      <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-custm-row">
                      Weekly
                      <%= f.radio_button :price_alert,current_user.price_alert == 1 ? current_user.price_alert : 1 %> 
                      <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-custm-row">
                      Monthly
                      <%= f.radio_button :price_alert,current_user.price_alert == 2 ? current_user.price_alert : 2 %> 
                      <span class="checkmark"></span>
                    </label>
                    <label class="checkbox-custm-row">
                      Never
                     <%= f.radio_button :price_alert,current_user.price_alert == 3 ? current_user.price_alert : 3%> 
                     <span class="checkmark"></span>
                   </label>
                 </div>
                 <%= f.hidden_field :id, value: current_user.id%>
              </div>
           </div>
           <div class="row">
              <div class="col-xs-12 col-md-12">
                 <div class="form-group text-center">
                    <%= f.submit "Update",class: "ornage-btn-dark-shadow" %>
                 </div>
              </div>
           </div>
        </div>
        <%end%>
     </div>
     <!-- user price alert end-->
     <!-- user favourites start-->
     <div class="profile-blocks fav-srch-blocks profile-blocks-full">
        <h3>Favorites</h3>
          <div class="profile-blocks-cntnt fav-search-layout">
            <h5 class="heading-small">Favorites Searches</h5>
           <div class="row">
              <div class="fav-search-date fav-search-cntnt-comon col-xs-12 col-md-2">
                 <p class="hiden-txt-mb">Created</p>
              </div>
              <div class="fav-search-date-cntnt col-xs-12 col-md-6">
                 <div class="fav-search-cntnt-comon col-xs-2 col-md-2">
                    <p class="">Zip</p>
                 </div>
                 <div class="fav-search-cntnt-comon col-xs-3 col-md-3">
                    <p class="">Purpose</p>
                 </div>
                 <div class="fav-search-cntnt-comon col-xs-3 col-md-3">
                    <p class="">Loan Amount</p>
                 </div>
                 <div class="fav-search-cntnt-comon col-xs-4 col-md-4">
                    <p class="">Down Payment</p>
                 </div>
              </div>
              <div class="fav-search-date-cntnt col-xs-12 col-md-4">
                 <div class="fav-search-cntnt-comon col-xs-4 col-md-4">
                    <p class="">Credit Score</p>
                 </div>
                 <div class="fav-search-cntnt-comon col-xs-5 col-md-5">
                    <p class=""></p>
                 </div>
                 <div class="fav-search-cntnt-comon col-xs-2 col-md-2">
                    <p class=""></p>
                 </div>
                 <div class="fav-search-cntnt-comon col-xs-1 col-md-1">
                    <p class=""></p>
                 </div>
              </div>
           </div>
            <%if current_user.user_favorites.present? %>
              <%current_user.user_favorites.each do |user_favorite| %>
                <div id="<%=user_favorite[:id].to_s+"-favorite"%>">
                  <div class="row">
                    <% if user_favorite.favorite_search.present? %>
                        <div class="fav-search-date fav-search-cntnt-comon col-xs-12 col-md-2">
                          <div class="fav-search-white-block">
                            <%=user_favorite.created_at.strftime("%B %d, %Y")%>
                          </div>
                        </div>
                        <div class="fav-search-date-cntnt col-xs-12 col-md-6">
                           <div class="fav-search-cntnt-comon col-xs-2 col-md-2">
                              <div class="fav-search-white-block"><%= user_favorite.favorite_search["zip"]%></div>
                           </div>
                           <div class="fav-search-cntnt-comon col-xs-3 col-md-3">
                              <div class="fav-search-white-block"><%= user_favorite.favorite_search["loan_purpose"]%></div>
                           </div>
                           <div class="fav-search-cntnt-comon col-xs-3 col-md-3">
                              <div class="fav-search-white-block"><%= number_to_currency((user_favorite.favorite_search["home_price"].tr("^0-9", '').to_i) - (user_favorite.favorite_search["down_payment"].tr("^0-9", '').to_i)) %> </div>
                           </div>
                           <div class="fav-search-cntnt-comon col-xs-4 col-md-4">
                              <div class="fav-search-white-block"><%= number_to_currency(user_favorite.favorite_search["down_payment"]) %> </div>
                           </div>
                        </div>
                        <div class="fav-search-date-cntnt col-xs-12 col-md-4">
                           <div class="fav-search-cntnt-comon col-xs-4 col-md-4">
                              <div class="fav-search-white-block"><%=  user_favorite.favorite_search["credit_score"] %></div>
                           </div>
                           <div class="fav-search-cntnt-comon col-xs-5 col-md-5">
                              <div class="fav-search-white-block"><a href="" data-toggle="modal" data-target="#full-search-<%=user_favorite[:id]%>">Full Search Details</a></div>
                           </div>
                           <%= render partial: "partials/view_search_detail" , locals: { program: user_favorite.favorite_search, program_id: user_favorite[:id] } %>
                           <div class="fav-search-cntnt-comon col-xs-2 col-md-2">
                              <div class="fav-search-white-block"><a href="<%= user_favorite.favorite_url%>" target="_blank">Search</a></div>
                           </div>
                           <div class="fav-search-cntnt-comon col-xs-1 col-md-1">
                              <div class="fav-search-white-block">
                                 <%#= link_to image_tag("bin_03.png", :alt => "Bin"),"#" %>
                                 <a href="JavaScript:void(0);"><i class="fa fa-trash remove-item" id="<%=user_favorite[:id]%>"></i></a>
                                 <!-- <a href=""><img src="images/bin_03.png" alt=""></a> -->
                              </div>
                           </div>
                        </div>
                    <%end%>
                  </div>
                </div>
              <%end%>
            <%end%>
            <h5 class="heading-small" style="margin-top: 15px !important;">Favorites Loans</h5>
            <div class="">
              <%if current_user.user_favorites.present? %>
                <%current_user.user_favorites.each_with_index do |user_favorite,index| %>
                  <% if user_favorite.favorite_loan.present? %>
                    <div class="cntnt-list-inner col-md-12 demo-items-30">
                        <div class="inner-logo">
                          <img src="<%= "/assets/"+ user_favorite.favorite_loan['bank_name']%>.png">

                           <p class="orange-link"><%= user_favorite.favorite_loan["bank_name"]%></p>
                          <p>NMLS ID <%= Program::NMLS[user_favorite.favorite_loan['bank_name']] %></p>
                        </div>
                         <div class="inner-block">
                           <span class="hdng-big a_air"><%=
                               number_to_percentage(user_favorite.favorite_loan["air"], precision: 3)%> Rate
                           </span>
                           <p class="hiden-txt-mb a_apr">
                               <!-- % APR -->

                               <%=number_to_percentage(user_favorite.favorite_loan["apr"], precision: 3)%> APR
                           </p>
                           <p><%= user_favorite.favorite_loan["program_name"] %></p>
                           <!-- <p> </p> -->
                           <a href="" class="more-dtail-link hiden-txt-mb d-none">More Details</a>
                         </div>
                         <div class="inner-block-combined">
                           <div class="inner-block inner-block-small">
                             <span class="hdng-big a_saving"><%=number_to_currency(user_favorite.favorite_loan["saving"],  :unit=> "$", precision: 0)%></span>
                             <p><span class="hiden-txt-mb">Expected</span> Savings</p>
                           </div>
                           <div class="inner-block inner-block-small">

                             <span class="hdng-big a_monthly_payment"><%=number_to_currency(user_favorite.favorite_loan["monthly_payment"],  :unit=> "$", precision: 0)%></span>
                             <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
                           </div>
                           <div class="inner-block inner-block-small">
                             <span class="hdng-big a_closing_cost"><%=

                               number_to_currency(user_favorite.favorite_loan["closing_cost"],  :unit=> "$", precision: 0)%>
                               </span>
                             <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
                           </div>
                         </div>
                         <div class="inner-block-btn">
                             <img src= "<%= user_favorite.favorite_loan.present? ? "/assets/red_heart.png" : "/assets/heart_03.png" %>" alt="loan" class="wishlist-icn-fill favorite-added add-fav", id="<%=user_favorite[:id]%>", data-favorite="<%= user_favorite.to_json %>">

                        </div>
                         <div class="inner-block-btn">
                             <a href="" data-toggle="modal" data-target="#view-details-popup-<%=user_favorite.favorite_loan["term"]%>years<%=index%>" class="dtail-btn">View Details</a>
                           <a href="" class="lendr-web-link">Lender Website</a>
                         </div>
                         <div class="mb-scroll-icn">
                           <a href="" data-toggle="modal" data-target="#view-details-popup-<%=user_favorite.favorite_loan["term"]%>years<%=index%>"><i class="fa fa-angle-right"></i></a>
                         </div>
                    </div>
                    <%= render partial: "partials/favorite_modal" , locals: { program: user_favorite.favorite_loan, index: index,final_rate:  number_with_precision(user_favorite.favorite_loan["air"].to_s, :precision => 3)  } %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
       </div>
    </div>
  </div>
</section>
 
<script type="text/javascript">
  $('.remove-item').click(function(){
      fav_id = this.id
      current_user = <%= current_user.id%>
      $.ajax({
        url: '/delete_favorite',
        type: "DELETE",
        data: {fav_id: fav_id, user_id: current_user, fav_loan: this.alt},
        success: function(response) {
          if (response.status) {
            if (response.fav_loan == "loan") {
              document.getElementById(fav_id).src = "/assets/heart_03.png";
            } else {
              var record_id = "#"+response.fav_id+"-favorite"
              $(record_id).hide()
            }
          }
        }
      });
  })

  $('.add-fav').click(function(){
    if ((this.src.split("/assets/")[1] == "heart_03.png")) {
      fav_id = parseInt(this.id)
      fav_added_loan = JSON.parse(this.dataset['favorite'])
      $.ajax({
        url: '/add_favorite_program',
        type: "GET",
        dataType: "json",
        data: {program: fav_added_loan},
        success: function(response) {
          if (response.status) {   
            document.getElementById(fav_id).src = "/assets/red_heart.png";
          }
        }
      });
    }
  })

  $('.favorite-added').click(function(){
    if (this.src.split("/assets/")[1] == "red_heart.png") {
      fav_id = this.id
      current_user = <%= current_user.id%>
      $.ajax({
        url: '/delete_favorite',
        type: "DELETE",
        data: {fav_id: fav_id, user_id: current_user, fav_loan: this.alt},
        success: function(response) {
          if (response.status) {
            if (response.fav_loan == "loan") {
              document.getElementById(fav_id).src = "/assets/heart_03.png";
            } else {
              var record_id = "#"+response.fav_id+"-favorite"
              $(record_id).hide()
            }
          }
        }
      });
    }
  })
</script>