<%#=begin
form:           change password
Developer:      Varun
Created:        22-02-2018
Purpose:        registration
Params:         first_name mail password password_confirmation
Return:         hash
=end %>
<% title 'Sign Up'%>
<section class="banner directory-banner">
  <div class="banner-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner-banner-title">
          <h1>Sign Up</h1>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content-main login-page pt-zero">
 <div class="container">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'sign_up_form'}) do |f| %>
    <%= devise_error_messages! %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="login-page-cntnt login-wrapper">
          <div class="login-rows">
            <i class="fa fa-user"></i>
           <%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %>
          </div>
          <div class="login-rows">
            <i class="fa fa-user"></i>
           <%= f.text_field :last_name, autofocus: true, placeholder: "Last Name" %>
          </div>
          <div class="login-rows">
            <i class="fa fa-envelope-o"></i>
           <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
          </div>
          <div class="login-rows">
            <i class="fa fa-key"></i>
           <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
          </div>
          <div class="login-rows">
            <i class="fa fa-key"></i>
           <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirm Password" %>
          </div>
          <div class="login-rows cntnt-login">
           <%= f.submit "Sign Up", class: "login-page-btn signup-btn" %>
           <div class="forgot-signup-links">
            <center><%= link_to "Sign In", new_session_path(resource_name), class: "signup-link-clr " %></center>
           </div>
           <p>or sign up with</p>
           <div class="social-login">
            <ul>
              <li>
                <%= link_to user_facebook_omniauth_authorize_url(), class: "btn btn-block btn-social btn-twitter" do %>
                   <i class="fa fa-facebook"></i>
                <% end %>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <%= link_to user_google_oauth2_omniauth_authorize_url(), class: "btn btn-block btn-social btn-twitter" do %>
                   <i class="fa fa-google"></i>
                <% end %>
              </li>
            </ul>
           </div>
          </div>
        </div>
      </div>
    </div>
   <% end %>
 </div>
</section>
