<!-- banner start-->
<section class="banner">
  <div class="banner-overlay"></div>
  <div class="container">
    <div class="banner-headings">
      <h3>Compare customized mortgage rates instantly</h3>
      <p>Average savings of $26,169 vs standard rates</p>
    </div>  
    <!-- banner main search start-->
    <div class="search-main adv-search-mb home-main-search">
      <%= form_tag('/', method: :get, id: :search_form) do %>
        <div class="row adv-search-main">
          <%= hidden_field_tag 'source', 0 %>
          <div class="col-sm-2 col-xs-6">
            <label>State</label>
            <div class="search-cat zip-srch purpse-srch">
               <!-- <input type="text" placeholder="123456" value= <%#=user_location_info.present? ? user_location_info.data["postal"].present? ? user_location_info.data["postal"] : nil : nil%> >  calling function defined in Application helper -->
              <%= select_tag 'state', options_for_select(Program::STATE, (params[:state] rescue nil)) %>
            </div>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label>Loan Purpose</label>
            <div class="search-cat purpse-srch">
              <%= select_tag 'loan_purpose', options_for_select(Program::LOAN_PURPOSE.flatten.sort_by!{ |m| m.downcase }, (params[:loan_purpose] rescue nil))%>
                <span class="error-loan-purpose">Please Select Refinance</span>
            </div>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label>Home Price</label>
            <div class="search-cat price-srch">
              <div class="dollar-icn">$</div>
              <%= text_field_tag :home_price, number_to_currency(@home_price, :unit=> "", precision: 0) %>
            </div>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label>Down Payment</label>
            <div class="search-cat price-srch">
              <div class="dollar-icn">$</div>
              <%= text_field_tag :down_payment,number_to_currency(@down_payment,  :unit=> "", precision: 0) %>
            </div>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label>Credit Score</label>
            <div class="search-cat cr-srch">
                <%= select_tag 'credit_score', options_for_select(Program::CREDIT_SCORE_LIST, (params[:credit_score].present? ? params[:credit_score] : "700-719")) %>
            </div>
          </div>
          <!-- <button class="rates-btn hm-src-btn-main">Get Rates</button> -->
          <div class="col-sm-2 col-xs-6">
            <!-- <button class="rates-btn hm-search-btn-nw">Get Rates</button> -->
            <%= submit_tag "Get Rates", :class => "rates-btn hm-search-btn-nw" %>

          </div>
        </div>
        <div class="search-adv-option-box">
          <a href="javascript:void(0);" id="adv-option" class="desktop-btn">Advanced Options
            <span class="down-arrow"><i class="fa fa-angle-down"></i></span>
          </a>
          <a href="" data-toggle="modal" data-target="#advance-srch-mb"  class="mb-btn">Advanced Options
            <span class="down-arrow"><i class="fa fa-angle-down"></i></span>
          </a>
          <div id="ad-search">
            <div class="search-adv-option" id="search-adv-option-inner">
              <div class="row">
                <%= render 'partials/search_api'%>
                <div class="row">
                  <div class="col-md-12 text-center reset">
                    <button type="button" id="reset_all_btn" class="btn btn-danger" >Reset All</button>

                    <%#= render 'partials/search_api'%>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
      <!-- api-search-div start-->
      <!-- <div class="api-search-div">
        <%#= render 'partials/search_api'%>
      </div> -->
      <!-- api-search-div end-->
      <%#= render 'partials/search_api'%>
    </div>
    <!-- banner main search end-->
  </div>
</section>
<div class="modal fade" id="advance-srch-mb" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content adv-search-mdl-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Advanced Options</h4>
        <a href="">Reset</a>
      </div>
      <div class="modal-body">
        <%= render 'partials/search_api'%>
      </div>
      <div class="modal-footer adv-search-mdl-footer">
         <button class="rates-btn">Get Rates</button>
      </div>
    </div>
  </div>
</div>
<%#= render 'partials/search_api'%>
<!-- banner end-->
<!-- search result feed start-->
<section class="content-main">
  <div class="container">
    <p class="main-para-hdng">Pureloan searches all the major banks and lenders to give you the best rates. Here are a few sample rates
      in your area for 30-year Fixed, 15-year Fixed, and 5/1 Adjustable Rate Mortgage (ARM).
    </p>
    <div style="position: relative; clear: both;">
      <div class="loader" style="display: none;"><i class="fa fa-spinner fa-spin loader-spinner"></i></div>
      <ul class="nav nav-tabs rates-tab">
        <li class="<%= @term.to_s == "30" && @loan_type != "ARM"? 'active' : '' %>" ><a data-toggle="tab" data-tab="30" href="#30years" class="tab-btn js-trigger">30 Year</a></li>
        <li class="<%= @term.to_s == "15" ? "active" : ""%>"><a data-toggle="tab" href="#15years" data-tab="15" class="tab-btn js-trigger">15 Year</a></li>
        <li  class="<%= (@loan_type == "ARM" && @arm_basic == "5") ? "active" : ""%>"><a data-toggle="tab" href="#51years" data-tab="5" class="tab-btn js-trigger">5/1 ARM</a></li>
      </ul>
    
      <div class="tab-content rates-tab-content" style="position: relative;">
        <%= render partial: "partials/tabs", locals: { term_n: @arm_term.to_i, result: @result }%>
      </div>
    </div>
  </div>
</section>
<div class="btn-load-bg">
  <button id="loadMore" class="btn btn-load-more">Load more</button>
</div>
<!-- <div id="showLess">Show less</div> -->
<!-- search result feed end-->
<%if Expert.where(verified: true).count < 1%>
<!-- Advertisement with expert start-->
<section class="advertisement-box">
  <div class="container">
    <div class="advertisement">
      <img class="mb-hide" src="/assets/home-ad.jpg" alt="">
      <img class="mb-only" src="/assets/expert-ad-mb-img.png" alt="">
      <h4>Become a mortgage expert on<br> Pureloan.com for Albany, CA</h4>
      <span class="">Reach hundreds of thousands of home buyers or
      refi customers every month!</span>
      <a href="" data-toggle="modal" data-target="#expert-app-overlay" class="dtail-btn">Submit Application</a>
    </div>
  </div>
</section>
<%end%>
<!-- Advertisement with expert end-->
<!--Rendering Experts  -->
<%if Expert.where(verified: true).count >= 1%>
<%= render 'pages/index'%>
<%end%>
<!-- expert application overlay popup start-->
<div class="modal fade common-popup-layout" id="expert-app-overlay" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4>Become an Expert</h4>
        <button type="button" class="close" data-dismiss="modal">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-message-bx">
          <p>Become an expert on <b>Pureloan.com</b> and reach hundreds of
          thousands of home buyers or refi customers every month!
          </p>
        </div>
        <%=form_with scope: :expert, url: expert_user_registration_path, id: 'expert_user_form'  do |expert_user| %>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label>First Name</label>
              <%= expert_user.text_field :first_name, placeholder: "Enter your First Name", class: "form-control"%>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label>Last Name</label>
              <%= expert_user.text_field :last_name, placeholder: "Enter your Last Name", class: "form-control"%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label>Phone</label>
              <%= expert_user.text_field :phone, placeholder: "Enter your Phone", class: "form-control", number: true%>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label>Email</label>
              <%= expert_user.email_field :email, placeholder: "Enter your Email", class: "form-control"%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="form-group select-arrow">
              <label>State</label>
              <%= expert_user.select(:state, City.pluck(:state_code).uniq.sort, {prompt: "Select State"}, { class: 'state' })%>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="form-group select-arrow">
              <label>City</label>
              <%= expert_user.select(:city, [], {prompt: "Select city"}, { class: 'city' })%>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="form-group select-arrow">
              <label>Zip</label>
              <%= expert_user.select(:zip, [], {prompt: "Select zip"}, { class: 'zip' })%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label>License Number</label>
              <%= expert_user.text_field :license_number, placeholder: "Enter your License Number", class: "form-control"%>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group select-arrow">
              <label>Speciality <span>(Where you will be listed)</span></label>
              <%= expert_user.select :specialty, options_for_select([["Mortgage","Mortgage"], ["Refinance","Refinance"], ["Personal","Personal"], ["Auto","Auto"]]), {prompt: " Select your specialty"}, class: "form-control"%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label>Website</label>
              <%= expert_user.url_field :website, placeholder: "Enter your business website ", class: "form-control", value: "Enter your business website "%>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group custm-file-input">
              <label>Photo</label>
              <span><i class="fa fa-camera"></i> Upload</span>
              <%= expert_user.file_field :image %>
            </div>
          </div>
        </div>
        <%= expert_user.submit "Submit Application", class: "rates-btn"%>
        <%end%>
        <!--              <button class="rates-btn">Submit Application</button> -->
        <div class="expert-app-overlay-note">
          Your listing as an expert in the city Albany, California will be processed when we verify your status and we recieve an authentication link back from your business site
        </div>
      </div>
    </div>
  </div>
</div>
<!-- expert application overlay popup end-->
<script>

  $(document).ready(function () {
    var tab_val = $('.active .js-trigger').attr('data-tab');
    load_more(tab_val);
    $('.tab-btn').click(function (e) {

      tab_val = $(this).text().replace ( /[^\d.]/g, '' ); 
      load_more(tab_val);
    });

    tab_term =  $('.active .js-trigger').attr('data-tab');
    $('.js-trigger').click(function(){
      $(".loader").show();
      $("#"+tab_term+"years").removeClass("active");
      
      tab_term = $(this).text().replace ( /[^\d.]/g, '' );
      if (tab_term=="51") {
        $(".arm-basic").show();
        $("#term").val('');
        $(".term").hide();
        $('#loan_type').val("ARM");
        $('.term_30').prop('checked', false);
        $('.term_15').prop('checked', false);
        $('.term_10').prop('checked', false);
        $('.arm_basic_7').prop('checked', false);
        $('.arm_basic_5').prop('checked', true);

      }else{
        $('#loan_type').val("Fixed");
        if (tab_term=="15") {
          $('.term_30').prop('checked', false);
          $('.term_10').prop('checked', false);
          $('.arm_basic_7').prop('checked', false);
          $('.arm_basic_5').prop('checked', false);
          $('.term_15').prop('checked', true);
        }else{
          $('.term_10').prop('checked', false);
          $('.arm_basic_7').prop('checked', false);
          $('.arm_basic_5').prop('checked', false);
          $('.term_15').prop('checked', false);
          $('.term_30').prop('checked', true);
        }
      }

      var data = $("#search_form").serialize();
      data = data+'&commit=commit'
      $.ajax({
        url: '/',
        type: "GET",
        dataType: "script",
        data: data,
        success: function(response) {
          $(".loader").hide();
        }
      });
    });

    $('.menu-up-adv-search').click(function(){
      $("#search-adv-option-inner").hide("fast").removeClass("display-adv-search");
    });
  
      $('.state').change(function(){
          id_passed = $(".state option:selected").val();
          $.ajax({
              url: '/pages/expert_state_and_city',
              type: "GET",
              dataType: 'json',
              data: {"state" : id_passed},
              success: function(response) {
                $(".city").empty();
                $.each(response, function(e,res){
                  $(".city").append($("<option></option>").attr("value",res).text(res));
                })
              }
          });
      })
  
      $('.city').change(function(){
          id_passed = $(".city option:selected").val();
          $.ajax({
              url: '/pages/expert_city_and_zip',
              type: "GET",
              dataType: 'json',
              data: {"city" : id_passed},
              success: function(response) {
                $(".zip").empty();
                $.each(response, function(e,res){
                  $(".zip").append($("<option></option>").attr("value",res).text(res));
                })
              }
          });
      })

      $.validator.addMethod('filesize', function (value, element, param) {
          return this.optional(element) || (element.files[0].size <= param)
      }, 'File size must be less than 2-Mb');

      $('#expert_user_form').validate({
        rules: {
          "expert[first_name]": {
              required: true
          },
          "expert[last_name]": {
              required: true
          },
          "expert[phone]":{
            required: true
          },
          "expert[email]": {
              required: {
                depends:function(){
                    $(this).val($.trim($(this).val()));
                    return true;
                  }
              },
              email: true
          },
          "expert[state]":{
            required: true
          },
          "expert[city]":{
            required: true
          },
          "expert[zip]":{
            required: true
          },
          "expert[license_number]":{
              required: true
          },
          "expert[website]":{
            required: true
          },
          "expert[image]": {
            required: true,
            extension: "jpg,jpeg",
            filesize:   2097152
          }
        },
        messages: {
          "expert[first_name]": {
              required: "Please enter your first name."
          },
          "expert[last_name]": {
              required: "Please enter you last name."
          },
          "expert[phone]":{
            required: "Plese enter mobile number."
          },
          "expert[email]": {
              required: "Please enter your email.",
              email: "Please enter valid email address.",
          },
          "expert[state]":{
              required: "Please selcet a state"
          },
          "expert[city]":{
              required: "Please selcet a city"
          },
          "expert[zip]":{
              required: "Please selcet a zip"
          },
          "expert[license_number]":{
              required: "Please enter your license number."
          },
          "expert[website]":{
            required: "Please enter website."
          },
          "expert[image]": {
            required: "Please upload an image.",
            extension: "File must be JPG,JPEG."
          }
        }
      })

      $('#bank_name').change(function(){
        var bank_name =  $(this).val();
        var loan_category = "All"
        var pro_category = "All"

        $.ajax({
          type:'GET',
          url:'/fetch_programs',
          data: {bank_name : bank_name, loan_category: loan_category, pro_category: pro_category },
          success:function(response){
            var selectBox = document.getElementById('program_name');
            selectBox.options.length = 0
            selectBox.options.add( new Option('All', 'All'));
            response.program_list.map((program)=>{
              selectBox.options.add( new Option(program.name, program.name));
            });
            var selectBox2 = document.getElementById('loan_category');
            selectBox2.options.length = 0
            selectBox2.options.add( new Option('All', 'All'));
            response.loan_category_list.map((loan_category)=>{
              selectBox2.options.add( new Option(loan_category.name, loan_category.name));
            });
            var selectBox3 = document.getElementById('pro_category');
            selectBox3.options.length = 0
            response.pro_category_list.map((pro_category)=>{
              selectBox3.options.add( new Option(pro_category.name, pro_category.name));
            });

          }
        });
      });

      $('#loan_category').change(function(){
        var loan_category =  $(this).val();
        var bank_name = $('#bank_name').val()
        var pro_category ="All"
        $.ajax({
          type:'GET',
          url:'/fetch_programs',
          data: {loan_category : loan_category, bank_name : bank_name, pro_category: pro_category },
          success:function(response){
            var selectBox = document.getElementById('program_name');
            selectBox.options.length = 0
            selectBox.options.add( new Option('All', 'All'));
            response.program_list.map((program)=>{
              selectBox.options.add( new Option(program.name, program.name));
            });

            var selectBox2 = document.getElementById('pro_category');
            selectBox2.options.length = 0
            response.pro_category_list.map((pro_category)=>{
              selectBox2.options.add( new Option(pro_category.name, pro_category.name));
            });
          }
        });
      });

      $('#pro_category').change(function(){
        var pro_category =  $(this).val();
        var bank_name = $('#bank_name').val()
        var loan_category = $('#loan_category').val()
        $.ajax({
          type:'GET',
          url:'/fetch_programs',
          data: {loan_category : loan_category, bank_name : bank_name, pro_category: pro_category },
          success:function(response){
            var selectBox = document.getElementById('program_name');
            selectBox.options.length = 0
            selectBox.options.add( new Option('All', 'All'));
            response.program_list.map((program)=>{
              selectBox.options.add( new Option(program.name, program.name));
            });
          }
        });
      });

      var fannie_mae = false
      $('#fannie_mae_du').click(function () {
        if ($(this).prop("checked")){
          fannie_mae = $('#fannie_mae').prop("checked")
          $('#fannie_mae').prop('checked', true);
        } else {
          $('#fannie_mae').prop('checked', fannie_mae);
        }
      });

      $('.arm_basic_7, .arm_basic_5').click(function () {
        if ($(this).prop("checked"))
          $('#loan_type').val("ARM")
        else
          $('#loan_type').val('')
      });

      $('.term_30, .term_15, .term_10').click(function () {
        if ($(this).prop("checked"))
          $('#loan_type').val("Fixed")
        else
          $('#loan_type').val('')
      });

      var freddie_mac = false
      $('#freddie_mac_lp').click(function () {
        if ($(this).prop("checked")){
          freddie_mac = $('#freddie_mac').prop("checked")
          $('#freddie_mac').prop('checked', true);
        } else {
          $('#freddie_mac').prop('checked', freddie_mac);
        }
      });

      var fha_checked = false
      var loan_purpose_value = $('#loan_purpose').val();
      $('#streamline').click(function () {
        if ($(this).prop("checked")){
          fha_checked = $('#fha').prop("checked")
          loan_purpose_value = $('#loan_purpose').val();
          $("#loan_purpose").val('Refinance');
          $("#adv_loan_purpose").val('Refinance');
          $('#fha').prop('checked', true);
          $('#loan_purpose-error').hide();
        } else {
          $('#fha').prop('checked', fha_checked);
          $("#loan_purpose").val(loan_purpose_value)
          $("#adv_loan_purpose").val(loan_purpose_value)

          $('.error-loan-purpose').hide();
        }
      });

      //loan_purpose default error hide
      $('#loan_purpose').change(function () {
        $('.error-loan-purpose').hide()
        $('#adv_loan_purpose').val($('#loan_purpose').val())
      });
      
      $('#adv_loan_purpose').change(function () {
        $('.error-loan-purpose').hide()
        $('#loan_purpose').val($('#adv_loan_purpose').val())
      });

      $('#state').change(function () {
        $('#adv_state').val($('#state').val())
      });

      $('#adv_state').change(function () {
        $('#state').val($('#adv_state').val())
      });

      $('#credit_score').change(function () {
        $('#adv_credit_score').val($('#credit_score').val())
      });

      $('#adv_credit_score').change(function () {
        $('#credit_score').val($('#adv_credit_score').val())
      });

      //when select fannie_mae_product fannie_mae will be true
      $('#fannie_mae_product').click(function () {
        if ($(this).prop("checked")){
          $('#fannie_mae').prop('checked', true);
        } else {
          $('#fannie_mae').prop('checked', false);
        }
      });

      $('#freddie_mac_product').click(function () {
        if ($(this).prop("checked")){
          $('#freddie_mac').prop('checked', true);
        } else {
          $('#freddie_mac').prop('checked', false);
        }
      });

      $('#reset_all_btn').click(function(event){
        $('input:checkbox').prop('checked', false);
        $('input[type="radio"]').prop('checked', false);
        $('#state').val('All');
        $('#loan_purpose').val('Purchase');
        $('#adv_loan_purpose').val('Purchase');
        $('#home_price').val('300000');
        $('#down_payment').val('50000');
        $('#credit_score').val('700-719');
        $('.term_30').prop('checked', true);
        $('#point_0').prop('checked', true);
        $('#lock_period').val('30');
      });

      $('.check').on('change', function() {
        $('.check').not(this).prop('checked', false); 
      });

      $('.refinance_checkbox').on('change', function() {
        $('.refinance_checkbox').not(this).prop('checked', false); 
      });


    function load_more(tab_val){
      var size_li = $("#"+tab_val+"years .demo-items-"+tab_val).length;
      // $("."+tab_val+"years").addClass('active')
      $("#"+tab_val+"years .demo-items-"+tab_val).hide();
      x=20;
      $("#"+tab_val+"years .demo-items-"+tab_val+":lt("+x.toString()+")").show();
      $('#loadMore').click(function () {
        x = (x+10 <= size_li) ? x+10 : size_li;
        $("#"+tab_val+"years .demo-items-"+tab_val+":lt("+x.toString()+")").show();
      });
    }

   $('#adv-option').click(function () {
        $("html, body").animate({
            scrollTop: 250
        }, 1000);
        //return false;
    });

   $('#adv_loan_purpose').change(function () {
      $('#loan_purpose').val($('#adv_loan_purpose').val())
    });

   $('#loan_purpose').change(function () {
      $('#adv_loan_purpose').val($('#loan_purpose').val())
    });

  });

</script>

