<!-- banner start-->
<%= render partial: "partials/basic_search" %>
<%#= render 'partials/search_api'%>
<!-- banner end-->
<!-- search result feed start-->

<% title  t('search.home.title') %>
<% meta_description t('search.home.description') %>
<section class="content-main">
  <div class="container">
    <p class="main-para-hdng">Pureloan searches all the major banks and lenders to give you the best rates. Here are a few sample rates
      in your area for 30-year Fixed, 15-year Fixed, and 5/1 Adjustable Rate Mortgage (ARM).
    </p>
    <%= render partial: "partials/result" %>
  </div>
</section>
<!-- <div id="showLess">Show less</div> -->
<!-- search result feed end-->
<%if Expert.where(verified: true).count < 1%>
<!-- Advertisement with expert start-->
<section class="advertisement-box">
  <div class="container">
    <div class="advertisement">
      <img class="mb-hide" src="/assets/home-ad.jpg" alt="">
      <img class="mb-only" src="/assets/expert-ad-mb-img.png" alt="">
      <h4>Become a mortgage expert on<br> Pureloan.com for Albany, CA</h4>
      <span class="">Reach hundreds of thousands of home buyers or
      refi customers every month!</span>
      <a href="" data-toggle="modal" data-target="#expert-app-overlay" class="dtail-btn">Submit Application</a>
    </div>
  </div>
</section>
<%end%>
<!-- Advertisement with expert end-->
<!--Rendering Experts  -->
<%if Expert.where(verified: true).count >= 1%>
<%= render 'pages/index'%>
<%end%>
<!-- expert application overlay popup start-->
<div class="modal fade common-popup-layout" id="expert-app-overlay" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4>Become an Expert</h4>
        <button type="button" class="close" data-dismiss="modal">
          <i class="fa fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <div class="modal-message-bx">
          <p>Become an expert on <b>Pureloan.com</b> and reach hundreds of
          thousands of home buyers or refi customers every month!
          </p>
        </div>
        <%=form_with scope: :expert, url: expert_user_registration_path, id: 'expert_user_form'  do |expert_user| %>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label>First Name</label>
              <%= expert_user.text_field :first_name, placeholder: "Enter your First Name", class: "form-control"%>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label>Last Name</label>
              <%= expert_user.text_field :last_name, placeholder: "Enter your Last Name", class: "form-control"%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label>Phone</label>
              <%= expert_user.text_field :phone, placeholder: "Enter your Phone", class: "form-control", number: true%>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label>Email</label>
              <%= expert_user.email_field :email, placeholder: "Enter your Email", class: "form-control"%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-4">
            <div class="form-group select-arrow">
              <label>State</label>
              <%= expert_user.select(:state, City.pluck(:state_code).uniq.sort, {prompt: "Select State"}, { class: 'state' })%>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="form-group select-arrow">
              <label>City</label>
              <%= expert_user.select(:city, [], {prompt: "Select city"}, { class: 'city' })%>
            </div>
          </div>
          <div class="col-xs-12 col-md-4">
            <div class="form-group select-arrow">
              <label>Zip</label>
              <%= expert_user.select(:zip, [], {prompt: "Select zip"}, { class: 'zip' })%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label>License Number</label>
              <%= expert_user.text_field :license_number, placeholder: "Enter your License Number", class: "form-control"%>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group select-arrow">
              <label>Speciality <span>(Where you will be listed)</span></label>
              <%= expert_user.select :specialty, options_for_select([["Mortgage","Mortgage"], ["Refinance","Refinance"], ["Personal","Personal"], ["Auto","Auto"]]), {prompt: " Select your specialty"}, class: "form-control"%>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-md-6">
            <div class="form-group">
              <label>Website</label>
              <%= expert_user.url_field :website, placeholder: "Enter your business website ", class: "form-control", value: "Enter your business website "%>
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div class="form-group custm-file-input">
              <label>Photo</label>
              <span><i class="fa fa-camera"></i> Upload</span>
              <%= expert_user.file_field :image %>
            </div>
          </div>
        </div>
        <%= expert_user.submit "Submit Application", class: "rates-btn"%>
        <%end%>
        <!--              <button class="rates-btn">Submit Application</button> -->
        <div class="expert-app-overlay-note">
          Your listing as an expert in the city Albany, California will be processed when we verify your status and we recieve an authentication link back from your business site
        </div>
      </div>
    </div>
  </div>
</div>
<!-- expert application overlay popup end-->


<script type="text/javascript">
  $('#adv-option').click(function () {
        $("html, body").animate({
            scrollTop: 250
        }, 1000);
        //return false;
    });
</script>