<!-- banner search start-->
 <section class="banner search-result-banner mortgage-banner" data-spy = "affix" data-offset-top = "60" data-offset-bottom = "200">
    <div class="container">
       <!-- banner main search start-->
       <div class="search-main adv-search-mb" id="seo-city-mort-desktop">
          <div class="row adv-search-main">
            <div class="col-sm-2 col-xs-6">
              <label>Zip Code</label>
              <div class="search-cat zip-srch">
                <input type="text" placeholder="94305" value= <%=user_location_info.present? ? user_location_info.data["postal"].present? ? user_location_info.data["postal"] : @city.zip : @city.zip%> >
              </div>
            </div>  
            <div class="col-sm-2 col-xs-6">
               <label>Purpose</label>
              <div class="search-cat purpse-srch">
                <select>
                  <option>Refinance</option>
                </select>
              </div>
            </div>
            <div class="col-sm-2 col-xs-6">
              <label>Home Price</label>
              <div class="search-cat price-srch">
                <div class="dollar-icn">$</div>
                <input type="text" placeholder="123456">
              </div>
            </div>
            <div class="col-sm-2 col-xs-6">
              <label>Down Payment</label>
              <div class="search-cat price-srch">
                <div class="dollar-icn">$</div>
                <input type="text" placeholder="123456">
              </div>
            </div>
            <div class="col-sm-2 col-xs-6">
              <label>Credit Score</label>
              <div class="search-cat cr-srch">
                <select>
                  <option>750+</option>
                </select>
              </div>
            </div>
            <div class="col-sm-2 col-xs-6">  
              <button class="rates-btn hm-search-btn-nw">Get Rates</button>
            </div>
          </div>
       </div>
       <div class="search-main adv-search-mb" id="seo-city-mort-mb">
          <div class="section-lft-srch-drpdwn-icn" id="srch-edit-mb-only">
             <i class="fa fa-pencil"></i>
          </div>
          <div class="section-lft-srch-price-alert">
             <a data-toggle="modal" data-target="#create-price-alert" href=""><img src="/images/mobile/mail4_03.png" alt=""></br>
             Price Alert
             </a>
          </div>
          <div class="section-lft-srch-drpdwn-icn">
             <!-- <i class="fa fa-angle-double-down"></i> -->
             <a href="" data-toggle="modal" data-target="#advance-srch-mb" class="mb-btn">
              <i class="fa fa-pencil"></i>
             </a>

          </div>
          <div class="section-lft-srch">
             <p>$500,00 Home Purchase <span>in <%=user_location_info.present? ? user_location_info.data["postal"].present? ? user_location_info.data["postal"] : @city.zip : @city.zip%></span></p>
             <p>$100,00 Down <span>750 +</span></p>
          </div>
       </div>
       <!-- banner main search end-->
    </div>
    <!-- advance search start-->
    <div class="srch-results-adv-srch inner-mb-changes">
       <div class="container">
          <div class="search-adv-option-box">
             <a href="javascript:void(0);" id="adv-option" class="desktop-btn"><i class="fa fa-angle-double-down"></i> Advanced Options</a>
             <a href="" data-toggle="modal" data-target="#advance-srch-mb" class="mb-btn"><i class="fa fa-angle-double-down"></i> Advanced Options</a>
             <a data-toggle="modal" data-target="#login-popup" href="" class="price-alert-btn"><i class="fa fa-envelope"></i> Create Price Alert</a>
             <div class="search-adv-option" id="search-adv-option-inner">
                <div class="row">
                   <h4>desired loan programs?</h4>
                   <div class="col-xs-12 col-md-2 advance-check">
                      <div class="form-group"><input type="checkbox" value=""> 30 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 20 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 15 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 10 Year Fixed</div>
                      <div class="form-group"><input type="checkbox" value=""> 7/1 Arm</div>
                      <div class="form-group"><input type="checkbox" value=""> 5/1 Arm</div>
                      <div class="form-group"><input type="checkbox" value=""> 3/1 Arm</div>
                   </div>
                   <div class="col-xs-12 col-md-3 drpdown-box">
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                      <select>
                         <option>Select Occupancy</option>
                      </select>
                   </div>
                   <div class="col-xs-12 col-md-4 drpdown-box">
                      <select>
                         <option>Select Prepay Penalty</option>
                      </select>
                      <label>Cash Reserves (mos)</label>
                      <select>
                         <option>$ 15</option>
                      </select>
                      <label>Monthly Debt</label>
                      <select>
                         <option>$ 0</option>
                      </select>
                      <label>Monthly Income</label>
                      <select>
                         <option>$ 5,000</option>
                      </select>
                   </div>
                   <div class="col-xs-12 col-md-3 advance-check">
                      <p>Owned Properties <span>01</span></p>
                      <div class="form-group"><input type="checkbox" value=""> Interest Only</div>
                      <div class="form-group"><input type="checkbox" value=""> Hazard Insuarance Waived</div>
                      <div class="form-group"><input type="checkbox" value=""> Property Taxes Waived</div>
                      <div class="form-group"><input type="checkbox" value=""> First Time Home Buyer</div>
                      <div class="form-group"><input type="checkbox" value=""> Non Perm Resident Alien</div>
                      <div class="form-group"><input type="checkbox" value=""> Foreign National</div>
                      <div class="form-group"><input type="checkbox" value=""> Miltary</div>
                      <div class="form-group"><input type="checkbox" value=""> Rular</div>
                   </div>
                   <div class="col-xs-12 col-md-3 menu-up-adv-search"><a href=""><img src="/images/menu-up-white.png" alt=""/></a></div>
                </div>
             </div>
          </div>
       </div>
    </div>
    <!-- advance search end-->
 </section>
 <!-- banner end-->
    <%= render partial: "partials/location_rates" %>
    <div class="modal fade common-popup-layout signup-login-popup" id="create-price-alert" role="dialog">
      <div class="modal-dialog">
         <!-- Modal content-->
         <div class="modal-content">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal"><img src="/images/cancel_03.png" alt="" class="login-cross-img"></button>
               <h4><b>Create a Price Alert to obtain lowest Mortgage</b></br>
                  Rates and Save even more!
               </h4>
            </div>
            <div class="modal-body">
               <%= form_for(:user, :url => session_path(:user), :html => {:id => "login_form"}) do |f| %>
                  <ul class="login-drpdwn">
                    <li>
                      <%= image_tag("login-mail.png", :alt => "login-mail") %>
                      <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
                    </li>
                    <li>
                      <%= image_tag("login-pass.png", :alt => "login-pass") %>
                      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
                    </li>
                    <li class="cntnt-login">
                      <button class="rates-btn">Log In</button>
                      <div class="forgot-signup-links">
                        <%= link_to "Forgot Password", new_user_password_path %>
                          or
                        <a href="" data-toggle="modal" data-target="#signup-popup" class="signup-link-clr">Sign up Now</a>
                      </div>
                       <p>or sign up with</p>
                       <div class="social-login">
                        <!-- <a href=""><%#= image_tag("facebook_13.png", :alt => "Facebook") %></a> -->
                        <%= link_to image_tag("facebook_13.png"), user_facebook_omniauth_authorize_url() %>
                        <!-- <a href=""><%#= image_tag("twitter_15.png", :alt => "Twitter") %></a> -->
                        <!-- <a href=""><%#= image_tag("google_13.png", :alt => "Google") %></a> -->
                        <%= link_to image_tag("google_13.png"), user_google_oauth2_omniauth_authorize_url() %>
                       </div>
                    </li>
                   </ul>
                 <% end %>
            </div>
         </div>
      </div>
   </div>


 <script>
    $("#desktop_loan_off_data").click(function(){
      <%(5..9).each do |i|%>
        $("#officers_data_<%=i.to_s%>").toggle();
      <%end%>
      <%(3..5).each do |i|%>
          $("#officers_mobile_data_<%=i.to_s%>").toggle();
        <%end%>
        $("#desktop_loan_off_data").hide();
    });
    $("#desktop_news").click(function(){
      <%(5..9).each do |i|%>
        $("#news_data_<%=i.to_s%>").toggle();
      <%end%>
      $("#desktop_news").hide();
    });
    $("#mobile_news_data").click(function(){
       <%(3..9).each do |i|%>
        $("#mobile_news_articles_data_<%=i.to_s%>").toggle();
      <%end%>
      $("#mobile_news_data").hide();
    })
    $(document).ready(function(){
            var docWidth = $( document ).width();
              if(docWidth > 1023 ){
                var offset = 265;
              } else {
                var offset = 105;
              }
              $('.innr-year-link').click(function(){
                var divId = $(this).attr('href');
                 $('html, body').animate({
                  scrollTop: $(divId).offset().top - offset
                }, 300);
              });
            $('.section-lft-srch-drpdwn-icn').click(function(){
              //$('.section-lft-srch-price-alert, .section-lft-srch-drpdwn-icn').hide();
              //$('.srch-results-adv-srch, #srch-edit-mb-only').show();
            });
            $('#srch-edit-mb-only').click(function(){
              $('#seo-city-mort-mb').hide();
              $('#seo-city-mort-desktop').show();
            });
            $('#para-see-more-link').click(function(){
              $('#para-see-more-link').hide();
              $('.mb-hide-para, #para-see-less-link').show();
            });
            $('#para-see-less-link').click(function(){
              $('#para-see-less-link, .mb-hide-para').hide();
              $('#para-see-more-link').show();
            });
            $('.section-lft-srch-drpdwn-icn').click(function(){
              $('.header-main').addClass("black-head");
            });
            $('#srch-edit-mb-only').click(function(){
              $('.header-main').removeClass("black-head");
            });
            });
 </script>
<script>
  // Reviews slider
  $(".reviews .owl-carousel").owlCarousel({
    loop: true,
    margin: 20,
    nav: true,
    center: true,
    autoplay: true,
    navText: [
        '<i class="fa fa-angle-left"></i>',
        '<i class="fa fa-angle-right"></i>'
    ],
    responsive: {
      0: {
          items: 1
      },
      600: {
          items: 1
      },
      750: {
          items: 1
      },
      1000: {
          items: 3
      }
    }
  });
</script>