<!-- banner search start-->
<div class="inner-search results-inner">
 <%= render partial: "partials/basic_search" %>
</div>
<!-- banner end-->
<!-- result feed start-->
<% title t('seo_pages.city_home_mortgage_rates.title', :city => "#{@city.city}", :state => "#{state_full_name(@state)}", :date => "#{Date.today.strftime("%B %d, %Y")}" ) %>
<% meta_description t('seo_pages.city_home_mortgage_rates.description' , :city => "#{@city.city}", :state => "#{state_full_name(@state)}") %>

<section class="content-main seo-cities-mortgage seo-cities pt-110">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="loan-detail-blocks sectn-wo-bg inner-bx">
          <h3><%=@city.city%>, <%=state_full_name(@state)%> Mortgage Rates</h3>
          <div class="loan-detail-blocks-cntnt-inner bg-none">
            <p>Here are the most competitive home mortgage rates for <%=@city.city%>, <%=state_full_name(@state, true)%> based on around 200 competing banks and lending
              institutions that offer home loans in the cities around <%=@city.city%>, <%=state_full_name(@state)%>.
            </p>
            <p class="mb-hide-para">Home mortgage options include fixed rate, adjustable rate, FHA, VA, USDA, conventional, jumbo. and conforming home mortgages for <%=@city.city%>, <%=state_full_name(@state)%>.</p>
            <!-- <span href="" id="para-see-more-link">See More</span>
              <span href="" id="para-see-less-link">See Less</span> -->
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <!-- <p class="top-txt-info">
          <span class="pull-left">
            <a href="#30-year-hdng" class="innr-year-link innr-year-link-active">30 Year</a>
            <a href="#15-year-hdng" class="innr-year-link">15 Year</a>
            <a href="#5-1-arm-hdng" class="innr-year-link">5/1 Arm</a>
          </span>
          <span class="pull-right">
            Sorted By <a href="" class="">APR</a>
          </span>
          </p> -->
        <%= render partial: "partials/result"%>
      </div>
    </div>
    <!--30 years feed start-->
    <!-- 15/1 ARM feed end-->
    <!-- Closing Cost Summary start-->
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <%= render partial: "partials/closing_cost_summary" %>
      </div>
    </div>
    <%if Expert.where(verified: true).count >= 1%>
      <%= render 'pages/index'%>
    <%end%>
    <!-- <div class="row">
    <div class="col-xs-12 col-md-12 home_closing">
      <%#= render partial: "partials/expert_list" %>
    </div>
  </div> -->
    <!-- Closing Cost Summary end-->
    <%if @report.present? %>
    <!-- Historical Rates for Albany start-->
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="loan-detail-blocks">
          <h3>Historical Rates for <%=@city.city%>, <%=state_full_name(@state)%> Home Loans based on Actual Closed Loan Data
            <span>We  have compiled mortgage rate statistics for home loans in <%=@city.city%>, <%=state_full_name(@state)%> to help you understand trends for
            your home purchase process. This data is produced from actual closed loans.
            </span>
          </h3>
          <!-- Dynamic report section starts from here-->
          <div class="graph-box main-table-graph">
            <div class="dynamic-table-box">
              <div class="col-md-12 table-data-box">
                <div class="data-table-inner table-responsive main-table-grapg-box">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th> </th>
                        <%@header.each do |report_header|%>
                        <th>
                          <%=report_header%>
                        </th>
                        <%end%>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- This section is for cached data -->
                      <tr>
                        <td>% 30 year fixed mortgage </td>
                        <%eval(@report['% 30 year fixed mortgage']).each do |k, v|%>
                        <td><%= v ==  nil || v == 0.0 ? '' : number_with_precision(v, precision: 2).to_s+'%'%> </td>
                        <%end%>
                      </tr>
                      <tr>
                        <td>avg mortgage rate </td>
                        <%eval(@report['avg rate(30 yr)']).each do |k,v|%>
                        <td><%= v ==  nil || v == 0.0 ? '' : number_with_precision(v, precision: 2).to_s+'%'%> </td>
                        <%end%>
                      </tr>
                      <tr>
                        <td> % 15 year fixed mortgage</td>
                        <%eval(@report['% 15 year fixed mortgage']).each do |k,v|%>
                        <td><%= v ==  nil || v == 0.0 ? '' : number_with_precision(v, precision: 2).to_s+'%'%> </td>
                        <%end%>
                      </tr>
                      <tr>
                        <td> avg mortgage rate</td>
                        <%eval(@report['avg rate(15 yr)']).each do |k,v|%>
                        <td><%= v ==  nil || v == 0.0 ? '' : number_with_precision(v, precision: 2).to_s+'%'%> </td>
                        <%end%>
                      </tr>
                      <tr>
                        <td> % 10/1 ARM</td>
                        <%eval(@report['% 10/1 ARM']).each do |k,v|%>
                        <td><%= v ==  nil || v == 0.0 ? '' : number_with_precision(v, precision: 2).to_s+'%'%> </td>
                        <%end%>
                      </tr>
                      <tr  class="row-bordr-botom">
                        <td> avg mortgage rate</td>
                        <%eval(@report['avg rate(10 yr)']).each do |k,v|%>
                        <td><%= v ==  nil || v == 0.0 ? '' : number_with_precision(v, precision: 2).to_s+'%'%> </td>
                        <%end%>
                      </tr>
                      <!-- <tr>
                        <td> % 7/1 ARM</td>
                        <%#eval(@report['% 7/1 ARM']).each do |k,v|%>
                          <td><%#= v ==  nil || v == 0.0 ? '' : v.round(2).to_s+'%'%> </td>
                        <%#end%>
                        </tr>
                        <tr>
                        <td>avg mortgage rate </td>
                        <%#eval(@report['avg rate(7 yr)']).each do |k,v|%>
                          <td><%#= v ==  nil || v == 0.0 ? '' : v.round(2).to_s+'%'%> </td>
                        <%#end%>
                        </tr>
                        <tr>
                        <td>% 5/1 ARM </td>
                        <%#eval(@report['% 5/1 ARM']).each do |k,v|%>
                          <td><%#= v ==  nil || v == 0.0 ? '' : v.round(2).to_s+'%'%> </td>
                        <%#end%>
                        </tr>
                        <tr class="row-bordr-botom">
                        <td> avg mortgage rate</td>
                        <%#eval(@report['avg rate(5 yr)']).each do |k,v|%>
                          <td><%#= v ==  nil || v == 0.0 ? '' : v.round(2).to_s+'%'%> </td>
                        <%#end%>
                        </tr> -->
                      <tr class="">
                        <td> Avg credit score</td>
                        <%eval(@report['Avg credit score']).each do |k,v|%>
                        <td><%= v ==  nil || v == 0.0 ? '' : number_with_precision(v, precision: 2)%> </td>
                        <%end%>
                      </tr>
                      <tr>
                        <td class="class-right"> Avg LTV (loan to value)</td>
                        <%eval(@report['Avg LTV (loan to value']).each do |k,v|%>
                        <td><%= v ==  nil || v == 0.0 ? '' : number_with_precision(v, precision: 2).to_s+'%'%> </td>
                        <%end%>
                      </tr>
                      <tr>
                        <td>Avg  Combined LTV (loan to value) </td>
                        <%eval(@report['Avg Combined LTV (loan to value)']).each do |k,v|%>
                        <td><%= v ==  nil || v == 0.0 ? '' : number_with_precision(v, precision: 2).to_s+'%'%> </td>
                        <%end%>
                      </tr>
                      <tr class="row-bordr-botom">
                        <td class="class-right">Avg DTI (debt to income) </td>
                        <%eval(@report['Avg DTI (debt to income)']).each do |k,v|%>
                        <td><%= v ==  nil || v == 0.0 ? '' : number_with_precision(v, precision: 2)%> </td>
                        <%end%>
                      </tr>
                      <tr >
                        <td>% First time homebuyer </td>
                        <%eval(@report['% First time homebuyer']).each do |k,v|%>
                        <td><%= v ==  nil || v == 0.0 ? '' : number_with_precision(v, precision: 2).to_s+'%'%> </td>
                        <%end%>
                      </tr>
                      <tr>
                        <td class="class-right"> Avg mortgage insurance %</td>
                        <%eval(@report['Mortgage insurance percentage']).each do |k,v|%>
                        <td><%= v ==  nil || v == 0.0 ? '' : number_with_precision(v, precision: 2).to_s+'%'%> </td>
                        <%end%>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <a class="link-right-inner">Data produced  from US Government reported financials</a>
                <p class="">The table above shows the historical mortgage rates for home loans in <%=@city.city%>, <%=state_full_name(@state, true)%> over the past 10 years. This table is compiled using actual closed loans in <%=@city.city%>, <%=state_full_name(@state, true)%>, and this information is disclosed by the US government due to consumer protection laws. </p>
                <!-- <a href="" class="see-more-link-common">See More historical data</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%end%>
    <!-- Historical Rates for Albany end-->
    <!-- Online Trends for Mortgage Rates start-->
   <!--  <div class="row">
      <div class="col-xs-12 col-md-12">
        <div class="loan-detail-blocks">
          <h3>Online Trends for Mortgage Rates in <%#=@city.city%>, <%#=state_full_name(@state)%>
            <span>We  have created a proprietary engine to monitor online rates for the largest home lenders in the United Staes,
            to ensure you are getting the best rates even during the online research phase.</span>
          </h3>
          <div class="graph-box">
            <div class="row">
              <div class="col-sm-4 col-xs-12">
                <img src="/images/seo-city-mortgage-graph2.png" alt="">
              </div>
              <div class="col-sm-4 col-xs-12">
                <img src="/images/seo-city-mortgage-graph2.png" alt="">
              </div>
              <div class="col-sm-4 col-xs-12">
                <img src="/images/seo-city-mortgage-graph2.png" alt="">
              </div>
            </div>
            <p class="para-lft-inner">The charts above are the historical interest rates quoted for home loans in <%#=@city.city%>, <%#=state_full_name(@state, true)%>. This is data generated from our unique data service, and is not seen anywhere else.  We have shown the most relevant metrics (interest rates, APR, and closing costs) for the most popular loan types (30-yr fixed, 15-yr fixed, and 5/1 ARM).</p>
            <a href="" class="see-more-link-common">See More Graphs</a>
          </div>
        </div>
      </div>
    </div> -->
    <!-- Online Trends for Mortgage Rates end-->
    <div class="seo-auto-loan-tabs loan-detail-blocks">
      <h3>Recommended and Best <%=@city.city%>, <%=state_full_name(@state)%> Mortgage Companies
        <span>In addition to online mortgage companies, here are some mortgage rate specialists in <%=@city.city%>, <%=state_full_name(@state)%>.</span>
      </h3>
      <!--Used Car Loans desktop section end-->
      <div class="tabs-data-main desktop-tabs-data">
        <div class="tabs-data-hdng">
          <div class="col-xs-12 col-md-4">Name</div>
          <div class="col-xs-12 col-md-4">Address</div>
          <div class="col-xs-12 col-md-4">Contact</div>
        </div>
        <%if @loan_companies.present? %>
        <%@loan_companies.each_with_index do |lc, i|%>
        <%if i < 5%>
        <div class="tabs-data-row">
          <div class="col-xs-12 col-md-4">
            <p><%= lc.name%></p>
          </div>
          <div class="col-xs-12 col-md-4">
            <p><%=lc.address%> </p>
            <p><%= lc.city%> <%=lc.state%> </p>
          </div>
          <div class="col-xs-12 col-md-4">
            <p><%=lc.phone%></p>
            <p> <%=lc.email.present? ? lc.email : lc.website%> </p>
          </div>
        </div>
        <%else%>
        <div id='officers_data_<%=i.to_s%>' style= "display:none;">
          <div class="tabs-data-row">
            <div class="col-xs-12 col-md-4">
              <p><%= lc.name%></p>
            </div>
            <div class="col-xs-12 col-md-4">
              <p><%=lc.address%> </p>
              <p><%= lc.city%> <%=lc.state%> </p>
            </div>
            <div class="col-xs-12 col-md-4">
              <p><%=lc.phone%></p>
              <p> <%=lc.email.present? ? lc.email : lc.website%> </p>
            </div>
          </div>
        </div>
        <%end%>
        <%end%>
        <%else%>
        <div class="tabs-data-row no-record-box">
          No Records Found
        </div>
        <%end%>
      </div>
      <!--Used Car Loans Officers mobile tabs end-->
      <div class="tabs-data-main tabs-accordians-box">
        <div class="panel-group">
          <%if @loan_companies.present? %>
          <%@loan_companies.each_with_index do |lc, i|%>
          <%if i < 3%>
          <div class="panel panel-default">
            <div class="panel-heading tabs-data-hdng">
              <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse_<%=i.to_s%>">
              <%= lc.name%> </a>
            </div>
            <div id="collapse_<%=i.to_s%>" class="panel-collapse collapse">
              <div class="tabs-data-row">
                <div class="col-xs-12 col-md-12">
                  <h5>Address</h5>
                  <p><%=lc.address%></p>
                  <p><%= lc.city%> <%=lc.state%></p>
                </div>
                <div class="col-xs-12 col-md-12">
                  <h5>Contact</h5>
                  <p><%=lc.phone%></p>
                  <p><%=lc.email.present? ? lc.email : lc.website%></p>
                </div>
              </div>
            </div>
          </div>
          <%elsif i < 5%>
          <div id='officers_mobile_data_<%=i.to_s%>' style= "display:none;">
            <div class="panel panel-default">
              <div class="panel-heading tabs-data-hdng">
                <a class="accordion-toggle collapsed" data-toggle="collapse" href="#collapse_<%=i.to_s%>">
                <%= lc.name%> </a>
              </div>
              <div id="collapse_<%=i.to_s%>" class="panel-collapse collapse">
                <div class="tabs-data-row">
                  <div class="col-xs-12 col-md-12">
                    <h5>Address</h5>
                    <p><%=lc.address%></p>
                    <p><%= lc.city%> <%=lc.state%></p>
                  </div>
                  <div class="col-xs-12 col-md-12">
                    <h5>Contact</h5>
                    <p><%=lc.phone%></p>
                    <p><%=lc.email.present? ? lc.email : lc.website%></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <%end%>
          <%end%>
          <%end%>
        </div>
      </div>
      <!-- <a href= "" class="show-all-specialst-btn" >Show all Morgage Specialists</a> -->
      <%if @loan_companies.present?%>
      <%if @loan_companies.count > 5%>
      <button class= "show-all-specialst-btn pull-right see-more-fdic " id="desktop_loan_off_data">See More </button>
      <%end%>
      <%else%>
      <div class="car-auto-loan-news">
        No Records Found
      </div>
      <%end%>
    </div>
  </div>
    <%= render partial: "partials/location_rates" %>
</section>
<!-- search result feed end-->

<script>
  $("#desktop_loan_off_data").click(function(){
      <%(5..9).each do |i|%>
        $("#officers_data_<%=i.to_s%>").toggle();
      <%end%>
      <%(3..5).each do |i|%>
        $("#officers_mobile_data_<%=i.to_s%>").toggle();
      <%end%>
      $("#desktop_loan_off_data").hide();
    });
  // section for web view
  $("#desktop_news").click(function(){
    <%(5..9).each do |i|%>
      $("#news_data_<%=i.to_s%>").toggle();
    <%end%>
    $("#desktop_news").hide();
  });
  $("#mobile_news_data").click(function(){
  //section for mobile view
     <%(3..9).each do |i|%>
      $("#mobile_news_articles_data_<%=i.to_s%>").toggle();
    <%end%>
    $("#mobile_news_data").hide();
  })
  
  $(document).ready(function(){
          var docWidth = $( document ).width();
            if(docWidth > 1023 ){
              var offset = 265;
            } else {
              var offset = 105;
            }
            $('.innr-year-link').click(function(){
              var divId = $(this).attr('href');
               $('html, body').animate({
                scrollTop: $(divId).offset().top - offset
              }, 300);
            });
          $('.section-lft-srch-drpdwn-icn').click(function(){
            //$('.section-lft-srch-price-alert, .section-lft-srch-drpdwn-icn').hide();
            //$('.srch-results-adv-srch, #srch-edit-mb-only').show();
          });
          $('#srch-edit-mb-only').click(function(){
            $('#seo-city-mort-mb').hide();
            $('#seo-city-mort-desktop').show();
          });
          $('#para-see-more-link').click(function(){
            $('#para-see-more-link').hide();
            $('.mb-hide-para, #para-see-less-link').show();
          });
          $('#para-see-less-link').click(function(){
            $('#para-see-less-link, .mb-hide-para').hide();
            $('#para-see-more-link').show();
          });
          $('.section-lft-srch-drpdwn-icn').click(function(){
            $('.header-main').addClass("black-head");
          });
          $('#srch-edit-mb-only').click(function(){
            $('.header-main').removeClass("black-head");
          });
          });
</script>
<script>
  // Reviews slider
  $(".reviews .owl-carousel").owlCarousel({
      loop: true,
      margin: 20,
      nav: true,
      center: true,
      autoplay: true,
      navText: [
          '<i class="fa fa-angle-left"></i>',
          '<i class="fa fa-angle-right"></i>'
      ],
      responsive: {
          0: {
              items: 1
          },
          600: {
              items: 1
          },
          750: {
              items: 1
          },
          1000: {
              items: 3
          }
      }
  });
</script>
<script type="text/javascript">
  $('#adv-option').click(function () {
        $("html, body").animate({
            scrollTop: 65
        }, 1000);
        //return false;
    });
</script>