<section class="banner">
  <div class="banner-overlay"></div>
  <div class="container">
    <div class="banner-headings">
      <h3>Compare customized mortgage rates instantly</h3>
      <p>Average savings of $26,169 vs standard rates</p>
    </div>
    <!-- banner main search start-->
    <div class="search-main adv-search-mb home-main-search">
      <!-- <span class="fav-icon">
        <img src="/assets/heart_03.png">
      </span -->
      <!-- <span class="fav-icon"> -->
        <%#if current_user.present? %>
          <!-- <img src="/assets/heart_03.png" class="favorite_search" id ="favorite_search"> -->
        <%# else %>
          <!-- <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill favorite_search", id ="favorite_search" data-toggle="modal" data-target="#login-popup"> -->
        <%# end %>
      <!-- </span> -->
      <%# form_path = get_dynamic_path(params) %>
      <%# path = form_path.include?("results") ? form_path : form_path+"/results"%>
      <%= form_tag("/results" , method: :post, id: :search_form) do %>
        <div class="row adv-search-main">
          <%= hidden_field_tag 'source', 0 %>
          <div class="col-sm-2 col-xs-6">
            <label>Zip Code</label>
            <div class="search-cat zip-srch">
              <%= text_field_tag 'zip', (params[:zip].present? ? params[:zip] : @zip_code), :class => "fvrt-search" %>
              <%= hidden_field_tag 'state_code', (params[:state_code].present? ? params[:state_code] : @state_code) %>
            </div>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label>Loan Purpose</label>
            <div class="search-cat purpse-srch">
              <%= select_tag 'loan_purpose', options_for_select(Program::LOAN_PURPOSE.flatten.sort_by!{ |m| m.downcase }, (params[:loan_purpose] rescue nil)), :class => "fvrt-search" %>
                <span class="error-loan-purpose">Please Select Refinance</span>
            </div>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label>Home Price</label>
            <div class="search-cat price-srch">
              <div class="dollar-icn">$</div>
              <%= text_field_tag :home_price, (params[:home_price].present? ? params[:home_price] : "300000"), :class => "fvrt-search" %>
            </div>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label>Down Payment</label>
            <div class="search-cat price-srch">
              <div class="dollar-icn">$</div>
              <%= text_field_tag :down_payment,(params[:down_payment].present? ? params[:down_payment] : "50000"), :class => "fvrt-search" %>
            </div>
          </div>
          <div class="col-sm-2 col-xs-6">
            <label>Credit Score</label>
            <div class="search-cat cr-srch">
                <%= select_tag 'credit_score', options_for_select(Program::CREDIT_SCORE_LIST, (params[:credit_score].present? ? params[:credit_score] : "700-719")), :class => "fvrt-search" %>
            </div>
          </div>
          <!-- <button class="rates-btn hm-src-btn-main">Get Rates</button> -->
          <div class="col-sm-2 col-xs-6">
            <!-- <button class="rates-btn hm-search-btn-nw">Get Rates</button> -->
            <%= submit_tag "Get Rates", :class => "rates-btn hm-search-btn-nw", :id => "get_rates"  %>
            <% if current_user.present? %>
              <center><a href="JavaScript:void(0);" class="price-alert-btn inner-page-link favorite_search" id="favorite_search">
                <i class="fa fa-heart-o"></i>
                Save Search
              </a></center>
            <% else %>
              <center><a data-toggle="modal" data-target="#login-popup" href="" class="price-alert-btn inner-page-link">
                <i class="fa fa-heart-o"></i>
                Save Search
              </a></center>
            <% end %>
          </div>
        </div>
        <div class="search-adv-option-box">
          <a href="javascript:void(0);" id="adv-option" class="desktop-btn">Advanced Options
            <span class="down-arrow"><i class="fa fa-angle-down"></i></span>
          </a>
          <a href="" data-toggle="modal" data-target="#advance-srch-mb"  class="mb-btn">Advanced Options
            <span class="down-arrow"><i class="fa fa-angle-up"></i></span>
          </a>
          <div id="ad-search">
            <div class="search-adv-option" id="search-adv-option-inner">
              <div class="row">
                <%= render 'partials/search_api'%>
                <div class="row">
                  <div class="col-md-12 text-center reset">

                    <button type="button" id="reset_all_btn" class="btn btn-danger" >Reset All</button>

                    <%#= render 'partials/search_api'%>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <%end%>
      <!-- api-search-div start-->
      <!-- <div class="api-search-div">
        <%#= render 'partials/search_api'%>
      </div> -->
      <!-- api-search-div end-->
      <%#= render 'partials/search_api'%>
    </div>
    <!-- banner main search end-->
  </div>
</section>
<div class="modal fade" id="advance-srch-mb" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content adv-search-mdl-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Advanced Options</h4>
        <a href="">Reset</a>
      </div>
      <div class="modal-body">
        <%= render 'partials/search_api'%>
      </div>
      <div class="modal-footer adv-search-mdl-footer">
         <button class="rates-btn">Get Rates</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {

    var items = document.querySelectorAll("#home_price, #down_payment");
    for (var i = 0; i < items.length; i++)
    {
      $(items[i]).maskMoney({decimal: ',', thousands: ',', allowEmpty: false, precision: 0, allowZero: false}).maskMoney('mask');
    }

    form_submitted = <%= raw params[:commit].present? ? false : true %>
    if (form_submitted && location.href.includes("refinance")) {
      $('#loan_purpose').val('Refinance');
      $('#adv_loan_purpose').val('Refinance');
    }
    get_form_submitted(form_submitted);

    $(".favorite_search").click(function() {
        var img_id = this.id
        var form_data = {}
        var favorite_url = location.href+'?'+$('#search_form').serialize()
        $('#search_form').serializeArray().filter((item)=>{
          form_data[item.name] = item.value
        })
       $.ajax({
            url: '/favorite_searches',
            type: "GET",
            data: {form_data: form_data,favorite_url: favorite_url},
            success: function(response) {
              if (response.status) {
                $('#favorite_search').find($(".fa")).removeClass('fa fa-heart-o').addClass('fa fa-heart');
              }
            }
        });
    });

    // $(".favorite_search").click(function() {
    //   debugger
    // })

    $("#adv-option").click(function(){
      $("#adv-option").toggleClass("active-option");
    });

    $('#body').ready(function(){
      matchFavoriteSearch();
    });

    $('.fvrt-search').change(function(){
      matchFavoriteSearch();
    })

     function matchFavoriteSearch(){
      var form_data = {}
      $('#search_form').serializeArray().filter((item)=>{
          form_data[item.name] = item.value
      })
      $.ajax({
        url: '/favorite_search_heart',
        type: 'GET',
        data: {form_data: form_data},
        success: function(response) {
          if (response.status) {
            $('#favorite_search').find($(".fa")).removeClass('fa fa-heart').addClass('fa fa-heart-o');
          }else{
            $('#favorite_search').find($(".fa")).removeClass('fa fa-heart-o').addClass('fa fa-heart');
          }
        }
      })
     }
  });

</script>
