 <!-- News section starts from here -->
  <section class="reviews">
    <div class="container">
      <h4 class="main-title text-center font-weight-bold pb-4">News on Mortgages and Reverse Mortgages for <%=@city.city%>, <%=state_full_name(@state)%></h4>
      <div class="owl-carousel">
        <!-- card -->
        <%if @news_articles.present? %>
          <%@news_articles.each_with_index do |na, i|%>
            <div class="item">
              <div class=" card">
                <div class="row">
                  <div class="content-bx-slider">
                    <div class="slider-icon-bx">
                      <i class="fa fa-newspaper-o"></i>
                    </div>
                    <h4 class="title"><%=link_to na.headline.truncate(42), na.url, target: "_blank"%></h4>
                    <p><%=na.text.truncate(130)%></p>
                    <a href="<%= na.url%>" class="read-more-link">Read More <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                  </div>
                </div>
              </div>
            </div>
          <%end%>
        <%end%>
      </div>
    </div>
  </section> 
  
  <!-- News section ends here -->
  <div class="container">
    <div class="volume-auto-loan full-width loan-detail-blocks car-auto-loan-othr-bank-box">
      <h3>Mortgage Rates around <%=@city.city%>, <%=state_full_name(@state)%></h3>
      <div class="car-auto-loan-othr-bank">
        <%if @near_by_cities.present? %>
        <div class="row">
          <%@near_by_cities.each do |city|%>
          <div class="col-md-4">
            <%#= link_to city.city+', '+city.state_code,city_home_mortgage_rates_path(state: city.state_code, city: city.city.tr(' ', '+'),city_id: city.id)%>
            <div class="city-link">
              <%= link_to city_home_mortgage_rates_path(state: city.state_code, city: city.city.tr(' ', '+'),city_id: city.id) do %>
              <span><%=city.city+', '+city.state_code%></span>
              <i class="fa fa-angle-double-right"></i>
              <% end %>
            </div>
          </div>
          <%end%>
          <%else%>
          <div class="tabs-data-row no-record-box">
            No Records Found
          </div>
          <%end%>
        </div>
      </div>
    </div>
  </div>