<div class="advanced-search-bx">
  <div class="row">
    <div class="col-md-3 col-sm-6">
      <div class="field-wrapper">
        <div class="form-group slect-tag">
          <label>Loan Purpose</label>
          <%= select_tag 'loan_purpose', options_for_select(Program::LOAN_PURPOSE.flatten.sort_by!{ |m| m.downcase }, (params[:loan_purpose] rescue nil)), {:id => 'adv_loan_purpose', :class => "fvrt-search"}%>
                <span class="error-loan-purpose">Please Select Refinance</span>
        </div>
        <div class="form-group slect-tag">
          <select>
            <option>
              Single-Family Home
            </option>
          </select>
        </div> 
        <div class="form-group">
          <div class="checkbox radio">
            <label class="radio-bx">
              <%= check_box_tag 'term_30_list', '30', (params[:commit].present? ? (params[:term_30_list].present? ? true : false) : true), :class => "term_30 fvrt-search" %>30 Year fixed
               <span class="checkmark"></span>
            </label>
          </div>
          <div class="checkbox radio">
            <label class="radio-bx">
              <%= check_box_tag 'term_15_list', '15', (params[:commit].present? ? (params[:term_15_list].present? ? true : false) : true), :class => "term_15 fvrt-search" %>15 Year fixed
               <span class="checkmark"></span>
            </label>
          </div>
          <div class="checkbox radio">
            <label class="radio-bx">
              <%= check_box_tag 'term_10_list', '10', (params[:term_10_list].present? ? true : false), :class => "term_10 fvrt-search" %>10 Year fixed
               <span class="checkmark"></span>
            </label>
          </div>
          <div class="checkbox radio">
            <label class="radio-bx">
              <%= check_box_tag 'arm_basic_7_list', "7/1", (params[:arm_basic_7_list].present? ? true : false), :class => "arm_basic_7 fvrt-search" %>7/1 ARM
               <span class="checkmark"></span>
            </label>
          </div>
          <div class="checkbox radio">
            <label class="radio-bx">
              <%= check_box_tag 'arm_basic_5_list', "5/1", (params[:commit].present? ? (params[:arm_basic_5_list].present? ? true : false) : true), :class => "arm_basic_5 fvrt-search" %>5/1 ARM
               <span class="checkmark"></span>
            </label>
          </div>
          <%= hidden_field_tag 'loan_type', @loan_type.present? ? @loan_type : 'Fixed' %>
        </div>  
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="field-wrapper mar-b30">
        <label>Government Programs</label>
        <div class="form-group">
          <div class="checkbox radio">
            <label class="radio-bx">
              <%= check_box_tag 'fha', 'fha', (params[:fha].present? ? true : false), :class => "fvrt-search"  %>FHA (Income-based)
               <span class="checkmark"></span>
            </label>
          </div>
          <div class="checkbox radio mar-22">
            <label class="radio-bx">
              <%= check_box_tag 'streamline', 'streamline', params[:streamline].present? ? true : false, :class => "fvrt-search"  %>Only Streamline
               <span class="checkmark"></span>
            </label>
          </div>
          <div class="checkbox radio">
            <label class="radio-bx">
              <%= check_box_tag 'va', 'va', (params[:va].present? ? true : false), :class => "fvrt-search" %>Military (VA)
               <span class="checkmark"></span>
            </label>
          </div>
          <!-- <div class="checkbox radio mar-22">
            <label class="radio-bx"> <input type="checkbox" name="" id="" value=""> Only Streamline
              <span class="checkmark"></span>
            </label>
          </div> -->
          <div class="checkbox radio">
            <label class="radio-bx">
              <%= check_box_tag 'usda', 'usda', (params[:usda].present? ? true : false), :class => "fvrt-search" %> Rural (USDA)
               <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <label>Broad Lender Search</label>
        <div class="form-group">
          <div class="checkbox radio">
            <label class="radio-bx">
              <%= check_box_tag 'fannie_mae', 'fannie_mae', (params[:commit].present? ? (params[:fannie_mae].present? ? true : false) : true), :class => "fvrt-search" %> Fannie Mae
               <span class="checkmark"></span>
            </label>
          </div>
          <div class="checkbox radio mar-22">
            <label class="radio-bx">
              <%= check_box_tag 'fannie_mae_du', 'fannie_mae_du', (params[:commit].present? ? (params[:fannie_mae_du].present? ? true : false) : true), :class => "fvrt-search" %> DU
               <span class="checkmark"></span>
            </label>
          </div>
          <div class="checkbox radio mar-22">
            <label class="radio-bx">
              <%= check_box_tag 'fannie_mae_product', 'HomeReady', (params[:commit].present? ? (params[:fannie_mae_product].present? ? true : false) : true), :class => "fvrt-search" %> HomeReady
               <span class="checkmark"></span>
            </label>
          </div>
          <div class="checkbox radio">
            <label class="radio-bx">
              <%= check_box_tag 'freddie_mac', 'freddie_mac', (params[:commit].present? ? (params[:freddie_mac].present? ? true : false) : true), :class => "fvrt-search" %> Freddie Mac
               <span class="checkmark"></span>
            </label>
          </div>
          <div class="checkbox radio mar-22">
            <label class="radio-bx">
              <%= check_box_tag 'freddie_mac_lp', 'freddie_mac_lp', (params[:commit].present? ? (params[:freddie_mac_lp].present? ? true : false) : true), :class => "fvrt-search" %> LP
               <span class="checkmark"></span>
            </label>
          </div>
          <div class="checkbox radio mar-22">
            <label class="radio-bx">
              <%= check_box_tag 'freddie_mac_product', 'Home Possible', (params[:commit].present? ? (params[:freddie_mac_product].present? ? true : false) : true), :class => "fvrt-search" %> Home Possible
               <span class="checkmark"></span>
            </label>
          </div>
          <div class="checkbox radio">
            <label class="radio-bx">
              <%= check_box_tag 'others', 'others', (params[:commit].present? ? (params[:others].present? ? true : false) : true), :class => "fvrt-search" %> Others
               <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="field-wrapper mar-b30">
        <label>Personal Finance</label>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-6">
              <div class="input-area">
                <div class="dollar-icn">$</div>
                <!-- <input type="text" name="" id="" value=""> -->
                <%= text_field_tag 'monthly_income', '' %>
              </div>
            </div>
            <div class="col-xs-6 padding-zero">
              <span class="input-leble">Income/mo</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-6">
              <div class="input-area">
                <div class="dollar-icn">$</div>
                <!-- <input type="text" name="" id="" value=""> -->
                <%= text_field_tag 'monthly_debt', '' %>
              </div>
            </div>
            <div class="col-xs-6 padding-zero">
              <span class="input-leble">Debt/mo</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-6">
              <div class="input-area">
                <!-- <div class="dollar-icn">$</div> -->
                <input type="text" name="" id="" value="80%">
              </div>
            </div>
            <div class="col-xs-6 padding-zero">
              <span class="input-leble">Combine LTV</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox radio">
            <label class="radio-bx">
              <%= check_box_tag 'financing_type', 'Subordinate Financing', params[:financing_type].present? ? true : false, :class => "fvrt-search" %> Subordinated Financing
               <span class="checkmark"></span>
            </label>
          </div>
          <div class="checkbox radio">
            <label class="radio-bx"> <input type="checkbox" name="" id="" value=""> Interest-only Loan
              <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="field-wrapper">
        <label>Refinancing </label>
        <div class="form-group">
          <div class="checkbox radio">
            <label class="radio-bx">
              <%= check_box_tag 'refinance_option', 'Cash Out', params[:refinance_option].present? ? true : false, :class => "refinance_checkbox fvrt-search" %> Cash Out Refinance
               <span class="checkmark"></span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <div class="row" style="margin-left: 15px;">
            <div class="col-xs-6">
              <div class="input-area">
                <div class="dollar-icn">$</div>
                <input type="text" name="" id="" value="">
              </div>
            </div>
            <div class="col-xs-6 padding-zero">
              <span class="input-leble">Cash out</span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="checkbox radio">
            <label class="radio-bx">
              <%= check_box_tag 'refinance_option', 'Rate and Term', params[:refinance_option].present? ? true : false, :class => "refinance_checkbox fvrt-search" %> Rate and Term
               <span class="checkmark"></span>
            </label>
          </div>
          <div class="checkbox radio">
            <label class="radio-bx">
              <%= check_box_tag 'refinance_option', 'IRRRL', params[:refinance_option].present? ? true : false, :class => "refinance_checkbox fvrt-search" %> IRRRL
               <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-6">
      <div class="field-wrapper">
        <div class="form-group slect-tag">
          <label>Closing</label>
          <%= select_tag 'lock_period', options_for_select(Program::LOCK_PERIOD_LIST, (params[:lock_period].present? ? params[:lock_period] : "30")), :class => "fvrt-search" %>
        </div>
        <div class="form-group">
          <label>Points / Fees</label>
          <div class="margin-left-30">
            <div class="checkbox radio">
              <label class="radio-bx"> <%= radio_button_tag 'point', '0', true, :class => "fvrt-search" %> 0 points
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox radio">
              <label class="radio-bx"> <%= radio_button_tag 'point', '1', params[:point]=="1" ? true : false, :class => "fvrt-search" %> 1 points
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="checkbox radio">
              <label class="radio-bx"> <%= radio_button_tag 'point', '2',  params[:point]=="2" ? true : false, :class => "fvrt-search" %> 2 points
                <span class="checkmark"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group slect-tag">
          <select>
            <option>
              Escrow Options 
            </option>
          </select>
        </div>
        <div class="form-group">
          <div class="checkbox radio">
            <label class="radio-bx">
              <%= check_box_tag 'full_doc', 'full_doc', params[:full_doc].present? ? true : false, :class => "fvrt-search" %> Full doc
               <span class="checkmark"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-8"></div>
  <div class="col-md-4">
    <div class="form-group">
      <div>
        <label></label>
      </div>
      <%#= submit_tag "Search", :class => "btn btn-info btn-block" %>
    </div>
  </div>
</div> -->

<style type="text/css">
  .advanced-search-bx {
    padding: 0 10px 10px;
}
.field-wrapper{
  border: 1px solid #ddd;
  padding: 5px 15px;
  margin-bottom: 0;
  text-align: left;
}
.mar-b30{
  margin-bottom: 5px;
}
.mar-22{
  margin-left: 35px;
}
.padding-zero{
  padding: 0 !important;
}
.field-wrapper .form-group{
  margin-bottom: 10px;
}
.field-wrapper input[type="text"],
.field-wrapper select {
  float: none;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 5px;
  color: #333;
  font-size: 13px;
  padding: 5px 5px;
  font-weight: 500;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
}
.field-wrapper .slect-tag{
  position: relative;
}
.field-wrapper input[type="text"]{
  padding-left: 20px;
}
.field-wrapper .dollar-icn{
  bottom: 5px;
}
#reset_all_btn {
  font-size: 15px;
  font-weight: normal;
  color: #fff;
  border-radius: 5px;
  padding: 8px 40px;
  background: #a7a6ac;
  text-transform: uppercase;
  border-color:  #a7a6ac;
}
.field-wrapper label {
    float: none;
    width: 100%;
    margin: 0 0 5px 0;
    font-size: 16px;
    color: #000;
    font-weight: bold;
}
.field-wrapper .slect-tag:before,
.field-wrapper .slect-tag:before {
  content: "\f107";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #333;
  font-size: 18px;
  padding-right: 0.5em;
  position: absolute;
  bottom: 5px;
  right: 0;
  z-index: 9;
}
.field-wrapper .checkbox label {
  font-weight: normal;
  font-size: 13px !important;
  float: none;
  margin-bottom: 5px !important;
}
.field-wrapper .checkbox .checkmark {
  background-color: #fff;
  border-radius: 0;
  /*border: 1px solid #ddd;*/
}
.field-wrapper .checkbox .radio-bx input:checked ~ .checkmark {
    background-color: #fff;
    outline: 1px solid #000;
}

.input-area{
  position: relative;
}
.input-leble {
    font-weight: normal;
    display: block;
    text-align: left;
    padding: 5px 0;
}
.field-wrapper .checkbox, .radio{
  margin-top: 0;
  margin-bottom: 5px;
}
  .radio-boxes {
    margin-left: 15px;
  }

  .radio-bx {
    display: block;
    position: relative;
    padding-left: 30px !important;
    margin-bottom: 12px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
  }

  /* Hide the browser's default radio button */
  .radio-bx input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 16px;
    width: 16px;
    background-color: #eee;
    border-radius: 10%;
    outline: 1px solid #C0C0C0;
  }

  /* On mouse-over, add a grey background color */
  .radio-bx:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the radio button is checked, add a blue background */
  .radio-bx input:checked ~ .checkmark {
    background-color: #2196F3;
  }

  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the indicator (dot/circle) when checked */
  .radio-bx input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the indicator (dot/circle) */
  .field-wrapper .radio-bx .checkmark:after {
    left: 5px;
    top: 1px;
    width: 7px;
    height: 12px;
    border: solid #000;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  @media( min-width:320px) and ( max-width:767px) {
    .field-wrapper {
      margin-bottom: 5px;
    }
  }
</style>
