<div data-id="<%=term_n%>" id="<%=term_n%>years" class="tab-pane for-test fade in active">

  <div class="cntnt-list-box">
    <h5><%= params[:loan_type] == "ARM" ? params[:arm_basic] + " Arm Basic" :  term_n.to_s+" Year Fixed" %> Rates Customized for <%= Date.today.strftime("%B %d, %Y")%></h5>
    <% if result.present? %>
      <%# @all_resultes = term_n == 51 ? get_results_arm(result, "5") : get_results(result, term_n) %>
      <% result.each_with_index do |program, index|%>
        <div class="cntnt-list-inner col-md-12 demo-items-<%=term_n%>">
          <div class="inner-logo">
          <!-- <img src="//assets/CMG financial.png" alt=""> -->
            <img src="<%= "/assets/"+program[:bank_name] %>.png" >
            <p class="orange-link"><%= program[:bank_name] %></p>
            <p>NMLS ID <%= Program::NMLS[program[:bank_name]] %></p>
          </div>
          <div class="inner-block">
            <%
              base_rate = (program[:base_rate].to_f).round(3).to_s
              final_rate = (program[:final_rate].sum).round(3).to_s
            %>
            <span class="hdng-big a_air">
              <%if program[:air] != 0.0 && program[:air] != ""  %>
                <%=  number_with_precision(program[:air].to_s, :precision => 3)%>% Rate
              <% end -%>
            </span>
            <p class="hiden-txt-mb a_apr">
              <%if program[:apr].present? %>
                <!-- <%#= "%g" % ("%.2f" % program[:apr]) rescue nil %>% APR -->
                <%= number_with_precision(program[:apr].to_s.split("e").first.to_s, :precision => 3) rescue nil %>% APR
             <%end%>
            </p>
            <p><%= params[:loan_type] == "ARM" ? params[:arm_basic] + " Arm" :  term_n.to_s + " Year Fixed"%></p>
            <!-- <p><%#= term_n == 51 ? "5/1 Arm" : term_n.to_s + " Year Fixed" %> </p> -->
            <a href="" class="more-dtail-link hiden-txt-mb d-none">More Details</a>
          </div>
          <div class="inner-block-combined">
            <div class="inner-block inner-block-small">
              <span class="hdng-big a_saving"><%= number_to_currency(program[:saving].to_s, unit: "$", :precision => 0) if program[:saving].present? %></span>
              <p><span class="hiden-txt-mb">Expected</span> Savings</p>
            </div>
            <div class="inner-block inner-block-small">

            <%if program[:monthly_payment].present? %>
              <span class="hdng-big a_monthly_payment"><%=  number_to_currency(program[:monthly_payment].to_s, unit: "$", :precision => 0) if program[:monthly_payment].present? %></span>
              <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
            <% end -%>
            </div>
            <div class="inner-block inner-block-small">
              <%if program[:closing_cost].present? && program[:closing_cost] != ""%>
              <span class="hdng-big a_closing_cost">
                <%=  number_to_currency(program[:closing_cost].to_s, unit: "$", :precision => 0) rescue nil %>
                </span>
              <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
              <% end -%>
            </div>
          </div>
          <div class="inner-block-btn">
            <%if current_user.present? %>
              <img src= "<%= current_user.user_favorites.present? && current_user.user_favorites.pluck(:program_id).include?(program[:id]) ? "/assets/red_heart.png" : "/assets/heart_03.png" %>" alt="" class="wishlist-icn-fill favorite", id ="favorite_<%=program[:id]%>" >
            <% else %>
              <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill favorite", id ="favorite_<%=program[:id]%>" data-toggle="modal" data-target="#login-popup">
              <!-- <a href="" data-toggle="modal" data-target="#login-popup" class="login-btn">LOGIN</a> -->
            <% end %>
              <a href="" data-toggle="modal" data-target="#view-details-popup-<%=program[:term].to_s+"years"+index.to_s%>" class="dtail-btn">View Details</a>
            <a href="" class="lendr-web-link">Lender Website</a>
          </div>
          <div class="mb-scroll-icn">
            <a href="" data-toggle="modal" data-target="#view-details-popup-<%=program[:term].to_s+"years"+index.to_s%>" ><i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <%= render partial: "partials/advance_option_modal" , locals: { program: program, index: index,final_rate:  number_with_precision(program[:air].to_s, :precision => 3)  } %>


      <% end %>
    <% end %>
  </div>
</div>

<script>
  $( document ).ready(function() {
    $(".favorite").click(function() {
        var program_id = parseInt(this.id.split("_")[1])
        var img_id = this.id
        var form_data = {}
        var favorite_url = location.href+'?'+$('#search_form').serialize()
        $('#search_form').serializeArray().filter((item)=>{
          form_data[item.name] = item.value
        })
       $.ajax({
            url: '/favorite_program',
            type: "GET",
            data: {program_id: program_id, form_data: form_data, favorite_url: favorite_url},
            success: function(response) {
              if (response.status) {
                document.getElementById(img_id).src = "/assets/red_heart.png";
              }
            }
        });
    });
  });

</script>
