<div data-id="<%=term_n%>" id="<%=term_n%>years" class="tab-pane for-test fade in active">

  <div class="cntnt-list-box">
    <% if result.present? %>
      <h5><%= params[:loan_type] == "ARM" ? params[:arm_basic] + " Arm Basic" :  term_n.to_s+" Year Fixed" %> Rates Customized for <%= Date.today.strftime("%B %d, %Y")%></h5>
      <% result.each_with_index do |program, index|%>
        <div class="cntnt-list-inner col-md-12 demo-items-<%=term_n%>">
          <!-- <p id = >  </p> -->
          <input id="program-<%=program[:id]%>"  type="hidden" value=<%= program.to_json %>>
          <div class="inner-logo">
          <!-- <img src="//assets/CMG financial.png" alt=""> -->
            <img src="<%= "/assets/"+program[:bank_name] %>.png" >
            <p class="orange-link"><%= program[:bank_name] %></p>
            <p>NMLS ID <%= Program::NMLS[program[:bank_name]] %></p>
          </div>
          <div class="inner-block">
            <%
              base_rate = (program[:base_rate].to_f).round(3).to_s
              final_rate = (program[:final_rate].sum).round(3).to_s
            %>
            <span class="hdng-big a_air">
              <%if program[:air] != 0.0 && program[:air] != ""  %>
                <%=  number_with_precision(program[:air].to_s, :precision => 3)%>% Rate
              <% end -%>
            </span>
            <p class="hiden-txt-mb a_apr">
              <%if program[:apr].present? %>
                <!-- <%#= "%g" % ("%.2f" % program[:apr]) rescue nil %>% APR -->
                <%= number_with_precision(program[:apr].to_s.split("e").first.to_s, :precision => 3) rescue nil %>% APR
             <%end%>
            </p>
            <p><%= titleize(program[:program_name]) %></p>
            <!-- <p><%#= term_n == 51 ? "5/1 Arm" : term_n.to_s + " Year Fixed" %> </p> -->
            <a href="" class="more-dtail-link hiden-txt-mb d-none">More Details</a>
          </div>
          <div class="inner-block-combined">
            <div class="inner-block inner-block-small">
              <span class="hdng-big a_saving"><%= number_to_currency(program[:saving].to_s, unit: "$", :precision => 0) if program[:saving].present? %></span>
              <p><span class="hiden-txt-mb">Expected</span> Savings</p>
            </div>
            <div class="inner-block inner-block-small">

            <%if program[:monthly_payment].present? %>
              <span class="hdng-big a_monthly_payment"><%=  number_to_currency(program[:monthly_payment].to_s, unit: "$", :precision => 0) if program[:monthly_payment].present? %></span>
              <p><span class="hiden-txt-mb">Monthly</span> Payment</p>
            <% end -%>
            </div>
            <div class="inner-block inner-block-small">
              <%if program[:closing_cost].present? && program[:closing_cost] != ""%>
              <span class="hdng-big a_closing_cost">
                <%=  number_to_currency(program[:closing_cost].to_s, unit: "$", :precision => 0) rescue nil %>
                </span>
              <p><span class="hiden-txt-mb">Total Closing</span> Costs</p>
              <% end -%>
            </div>
          </div>
          <div class="inner-block-btn">
            <%if current_user.present? %>
              <img src= "<%= current_user.user_favorites.present? && current_user.user_favorites.pluck(:fav_loan_program_id).include?(program[:id]) ? "/assets/red_heart.png" : "/assets/heart_03.png" %>" alt="" class="wishlist-icn-fill favorite", id="favorite_<%=program[:id]%>", data-program="<%= program.to_json %>" >
            <% else %>
              <img src="/assets/heart_03.png" alt="" class="wishlist-icn-fill favorite", id ="favorite_<%=program[:id]%>" data-toggle="modal" data-target="#login-popup">
              <!-- <a href="" data-toggle="modal" data-target="#login-popup" class="login-btn">LOGIN</a> -->
            <% end %>
              <a href="" data-toggle="modal" data-target="#view-details-popup-<%=program[:term].to_s+"years"+index.to_s%>" class="dtail-btn"  data-value="<%=program.to_json %>" >View Details</a>
            <a href="<%= Program::BANK_LINK[program[:bank_name]] %>" class="lendr-web-link" target="_blank">Lender Website</a>
          </div>
          <div class="mb-scroll-icn">
            <a href="" data-toggle="modal" data-target="#view-details-popup-<%=program[:term].to_s+"years"+index.to_s%>" ><i class="fa fa-angle-right"></i></a>
          </div>
        </div>
        <%= render partial: "partials/advance_option_modal" , locals: { program: program, index: index,final_rate:  number_with_precision(program[:air].to_s, :precision => 3)  } %>
      <% end %>
    <% else %>
      <h5 class="suitable-program">No suitable program is found</h5>
    <% end %>
  </div>
</div>

<script>
  $( document ).ready(function() {
     $('.dtail-btn').click(function(){
      var params = <%= raw params.to_json %>
      params["program"] = $(this).data("value");
      home_price = parseFloat(params["home_price"].replace(/\D/g,''))
      down_payment = parseFloat(params["down_payment"].replace(/\D/g,''))
      ltv = (((home_price-down_payment))/home_price*100)
      n = parseInt( ltv/5 )
      ltv_start = (n+1)*5
      ltv_new = n*5
      $('.ltv_start').text(ltv_start)
      $('.ltv_new').text(ltv_new)
      params['ltv'] = ltv_new
      params['loan_amount'] = home_price*(ltv_new/100)
      params['down_payment'] = home_price - params['loan_amount']
      $.ajax({
        url: '/sensitivity_analysis',
        type: "GET",
        dataType: "json",
        data: params,
        success: function(response) {
          $('.closing_cost_saving_ltv').text(response.hash_obj.closing_cost.toFixed(2))
          $('.point_change_ltv').text(response.hash_obj.air_point.toFixed(2))
        }
      });

      params['ltv'] = ltv
      params['loan_amount'] = home_price-down_payment
      params['down_payment'] = down_payment
      fico = ''
      if (params['credit_score'].includes('-')) {
        fico_start = parseInt(params['credit_score'].split('-')[0])
        fico_new = fico_start+20
        fico = fico_new+'-'+(parseInt(fico_new)+20)
        $('.fico_start').text( fico_start )
        $('.fico_new').text( fico_new )
      }
      params['credit_score'] = fico
      $.ajax({
        url: '/sensitivity_analysis',
        type: "GET",
        dataType: "json",
        data: params,
        success: function(response) {
          $('.closing_cost_saving_fico').text(response.hash_obj.closing_cost.toFixed(2))
          $('.point_change_fico').text(response.hash_obj.air_point.toFixed(2))
        }
      });
    });

    $(".favorite").click(function() {
        var fav_loan_program_id = parseInt(this.id.split("_")[1])
        var img_id = this.id
        var program = JSON.parse(this.dataset['program'])
        program['home_price'] = $('#home_price').val();
        program['down_payment'] = $('#down_payment').val();
        program['credit_score'] = $('#credit_score').val();

       $.ajax({
            url: '/favorite_program',
            type: "GET",
            dataType: "json",
            data: {fav_loan_program_id: fav_loan_program_id,program: program},
            success: function(response) {
              if (response.data == "create") {
                document.getElementById(img_id).src = "/assets/red_heart.png";
              }else {
                document.getElementById(img_id).src = "/assets/heart_03.png";
              }
            }
        });
    });
  });

</script>
