<!-- experts block start--> 
  <section class="home-experts-box">
     <div class="expert-slider">
        <h2 class="mb-hide">Mortgage Experts that specilize in <%= @city_name.present? ? @city_name : "Mountain View" %>, <%= @state_code.present? && @state_code!="All" ? state_full_name(@state_code) : "California" %></h2>
        <h2 class="mb-only">Mortgage Experts in <%= @city_name.present? ? @city_name : "Mountain View" %>, <%= @state_code.present? ? state_full_name(@state_code) : "California" %></h2>
        <div class="home-experts">
           <div class="row">
              <div class="col-xs-12 col-md-9">
                <div class="desktop-experts">
                  <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
                    <div class="carousel-inner">
                      <%if @experts.present?%>
                      <%@experts.each_slice(4).with_index do |exp_arr, index|%>
                            <div class="item carousel-item <%= index==0 ? 'active' : ''%>">
                              <div class="row">
                                <%exp_arr.each do |exp|%>
                                  <div class="col-sm-3">
                                    <div class="thumb-wrapper">
                                      <div class="img-box">
                                          <%= image_tag exp.image.url(:thumb)%>
                                      </div>
                                      <div class="thumb-content">
                                        <h4><%= exp.first_name%> <%= exp.last_name%></h4>
                                        <p class="item-price">
                                          <i class="fa fa-envelope-o"></i><%= exp.email%>
                                        </p>
                                        <p class="item-phone">
                                          <i class="fa fa-phone"></i><%=mobile_no_formatting(exp.phone)%>
                                        </p>
                                      </div>
                                    </div>
                                  </div>
                                <%end%>
                              </div>
                            </div>
                        <%end%>
                      <%end%>
                    </div>
                    <!-- Carousel controls -->
                    <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                      <i class="fa fa-angle-left"></i>
                    </a>
                    <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                      <i class="fa fa-angle-right"></i>
                    </a>
                  </div>
                </div>
                <div class="mb-experts-slider">
                  <div id="carouselMobile" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <%if @experts.present? %>
                        <%@experts.each_with_index do |exp, index|%>
                          <div class="item <%= (index==0) ? 'active' : '' %>">
                            <div class="col-xs-12 col-md-12 text-center">
                              <div class="mb-expert-img-box">
                                <%= image_tag exp.image.url(:thumb)%>
                              </div>
                              <h3 class=""><%=exp.first_name%> <%=exp.last_name%></h3>
                              <p class="item-price"><i class="fa fa-envelope-o"></i><%= exp.email%></p>
                              <p class="item-phone">
                                <i class="fa fa-phone"></i><%=mobile_no_formatting(exp.phone)%>
                              </p>
                            </div>
                          </div>
                        <%end%>
                      <%end%>
                    </div>
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#carouselMobile" data-slide="prev">
                      <img src="images/expert-slider-arrow-left.png" alt="">
                    </a>
                    <a class="right carousel-control" href="#carouselMobile" data-slide="next">
                      <img src="images/expert-slider-arrow-right.png" alt="">
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-md-3 expert-cntnt-btn">
                 <div class="expert-cntnt-btn-inner">
                    <p class="mb-hide">Get featured and reach hundreds of thousands of home buyers or refi customers monthly!</p>
                    <p class="mb-only">Get featured and reach hundreds of thousands of home buyers or refi customers monthly!</p>
                    <div class="submit-aplicatn-btn-box">
                       <%#= link_to "Apply",buttercms_blog_path, class: "dtail-btn"%>
                       <a href="" data-toggle="modal" data-target="#expert-app-overlay" class="dtail-btn">Apply</a>
                       <!-- <a href="" data-toggle="modal" data-target="#expert-app-overlay" class="">Submit Application</a> -->
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div>
  </section>
<!-- experts block end-->
