<% title t('pages.mortgage.title') %>
<% meta_description t('pages.mortgage.description') %>

<!-- banner start-->
<%= render partial: "partials/basic_search" %>
<!-- banner end-->
<!-- search result feed start-->
<section class="content-main ">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
				<%= render partial: "partials/result" %>
			</div>
		</div>
	</div>
</section>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12">
      <%= render partial: "partials/closing_cost_summary" %>
    </div>
  </div>
  <!--Rendering Experts  -->
  <%if @experts.present? %>
    <%= render 'pages/index'%>
  <%end%>
</div>
<% unless @experts.present? %>
  <section class="advertisement-container">
    <div class="container">
      <div class="advertisement">
        <img class="mb-hide" src="/assets/user-pic.png" alt="">
        <img class="mb-only" src="/assets/user-pic.png" alt="">
        <h4>Become a mortgage expert on Pureloan.com<br/> for <%= @city_name.present? ? @city_name : "Mountain View" %>, <%= @state_code.present? && @state_code!="All" ? state_full_name(@state_code) : "California" %></h4>
        <span class="">Reach hundreds of thousands of home <br/>buyers or
        refi customers every month!</span>
        <a href="" data-toggle="modal" data-target="#expert-app-overlay" class="dtail-btn">Submit Application</a>
      </div>
    </div>
  </section>
<% end %>
<script type="text/javascript">
  $('#adv-option').click(function () {
        $("html, body").animate({
            scrollTop: 250
        }, 1000);
        //return false;
    });
</script>
