
<section class="banner directory-banner">
  <div class="banner-overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="inner-banner-title">
          <h1>Mortgage Calculator</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- <.....main content wrapper.... -->
<section class="contain-wrapper pt-zero calculator_weapper content-main">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="main-para-hdng"> pure-loan.com provides a mortgage calculator to help you understand your monthly home expenses. this includes mortgage principal home loan interest , and estimate total payment for both home mortgage and refinance customers. </p>
        <p class="main-para-hdng"> These calculator are based on your location, interest rate, and our proprietary analysis platform. We use various sources of public data to estimate additional costs such as property tax, home insurance, and PMI insurance it applicable.
        </p>
        <p id=”notice”><%= notice %></p>
      </div>
    </div>
    <div class="row">
      <!-- <.....form wrapper.... -->
      <div class="col-md-3">
        <div class="form-wrapper">
          <%= form_tag(calculator_path, method: :get, :id => 'calculator_form') do %>
            <div class="form-group mb-30">
              <img src="/assets/home-image.jpg">
            </div>
            <div class="form-group">
              <label>Zip Code</label>
              <%= text_field_tag :zip_code, @zip_code, :class=> "form-control" %>
            </div>
            <div class="form-group search-section">
              <label>Purpose</label>
              <span class="purpose-span">
                <%= select_tag 'purpose', options_for_select(@purpose_list), :class=> "form-control" %>
              </span>
            </div>
            <div class="form-group">
              <label>Home Price</label>
              <div class="dollar-icn">$</div>
              <%= text_field_tag :home_price, number_to_currency(@home_price, :unit=> "", precision: 0), :class=> "form-control" %>
            </div>
            <div class="form-group">
              <label>Down Payment</label>
              <div class="dollar-icn">$</div>
              <%= text_field_tag :down_payment,number_to_currency(@down_payment,  :unit=> "", precision: 0), :class=> "form-control" %>
            </div>
            <div class="form-group">
              <label>Mortgage Term</label>
              <div class="flex-group">
                <div class="search-section">
                  <%= select_tag 'mortgage_term', options_for_select(@mortgage_term_list, @mortgage_term), :class=> "form-control" %>
                </div>
                <%= text_field_tag :mortgage_month, '', :class=> "form-control padding-left" %>
              </div>
            </div>
            <div class="form-group">
              <label>Annual Interst Rate</label>
              <div class="icon-right">%</div>
              <%= text_field_tag :annual_interest_rate, @annual_interest_rate, :class=> "form-control" %>
              <a href="JavaScript:Void(0);" id="today_rate" class="link-to">Use Today's Rate</a>
            </div>
            
            <div class="form-group">
              <%= submit_tag "Calculate Mortgage", :class => "btn btn-block primary-btn" %>
              <a href="#" class="btn btn-block primary-btn">Get Latest Rates</a>
            </div>
          <% end %>
        </div>
      </div>
      <!-- <.....form wrapper end.... -->
      <div class="col-md-9">
        <%= render partial: "wrapper" %>
      </div>
    </div>
  </div>
  
</section>
<!-- <.....main content wrapper end .... -->

<!-- The Payoff Schedule Modal -->
<div class="modal" id="payoff_schedule_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Monthly Payoff Schedule</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- Modal body -->
      <div class="modal-body ex-breakdown">
        <div class="scroll-table mCustomScrollbar">
          <table class="table table-striped">
            <thead>
              <tr>
                <th width="5%"></th>
                <th align="center">
                  <center>Principal</center>
                </th>
                <th>Interet</th>
                <th>Remainging</th>
              </tr>
            </thead>
            <tbody>
                <%
                if @monthly_payoff_list.present?
                  %>
                  <tr>
                    <td align="center"></td>
                    <td></td>
                    <td></td>
                    <td align="center">
                      <%= (@home_price - @down_payment).to_f %>
                    </td>
                  </tr>
                  <%
                  @monthly_payoff_list.each do |monthly_payoff, index|
                  %>
                    <tr>
                      <td align="center"><%= monthly_payoff[:month] %></td>
                      <td align="center"><%= number_to_currency(monthly_payoff[:payoff_principal]) %></td>
                      <td align="center"><%= monthly_payoff[:payoff_interest] %></td>
                      <td align="center"><%= number_to_currency(monthly_payoff[:payoff_remaining]) %></td>
                    </tr>
                  <%
                  end
                end
                %>
              </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>